<app-navbar></app-navbar>

<!-- Page Banner -->
<div class="user-area ptb-100">
  <div class="container">
    <div class="user-form-content log-in-width">
      <h2 class="text-center">Login</h2>
      <form class="user-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <label for="employeeId">Employee Id</label>
              <input
                class="form-control"
                type="text"
                id="employeeId"
                name="employeeId"
                placeholder="Enter Employee Id"
                [(ngModel)]="loginData.employeeId"
                required
                #employeeId="ngModel"
              />
              <div *ngIf="employeeId.invalid && (employeeId.dirty || employeeId.touched)" class="text-danger">
                Employee Id is required.
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <label for="employeePassword">Password</label>
              <input
                class="form-control"
                type="password"
                id="employeePassword"
                name="employeePassword"
                placeholder="Enter Password"
                [(ngModel)]="loginData.employeePassword"
                required
                #employeePassword="ngModel"
              />
              <div *ngIf="employeePassword.invalid && (employeePassword.dirty || employeePassword.touched)" class="text-danger">
                Password is required.
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-12 col-md-12">
            <div class="form-check remember-me-container">
              <input
                class="form-check-input remember-me-checkbox"
                type="checkbox"
                [(ngModel)]="rememberMe"
                name="rememberMe"
              />
              <label class="form-check-label remember-me-label" for="rememberMe">Remember me</label>
            </div>
            <div *ngIf="rememberMeError" class="text-danger">
              {{ rememberMeError }}
            </div>
          </div> -->
          <div class="col-lg-12 col-md-12">
            <button class="default-btn" type="submit" [disabled]="loginForm.invalid">Log In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
