<app-user-navbar></app-user-navbar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 

<div class="db-main-content-area">
  <div class="container-fluid shadow-box">
  
      <h1 style="font-size: x-large; text-align: center;">Support and Request List</h1>
      <div class="button-container">
        <button style="border-radius: 5px;" class="button" (click)="gotoRequests()"> Request</button>
      </div>
      <div class="box">
        <div class="scrollable-table">
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th class="text-center"scope="col">Ticket ID</th>
                <th class="text-center" scope="col">Subject</th>
              
                <th class="text-center">Date and Time</th>
                <th class="text-center">Posted By</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of supportRequests">
                <td class="text-center">{{ request.ticketId }}</td>
                <td class="text-center">{{ request.subject }}</td>
                
                <td class="text-center">{{ request.dateTime }}</td>
                <td class="text-center" >{{request.postedBy}}</td>
                <td class="text-center">{{ request.status ? 'Not Solved' : 'Resolved'  }}</td>
               
                 
                <td  class="text-center"> 
                  <a (click)="gotoRequest(request.ticketId)" class="action-link">
                    <i class="fas fa-eye"></i> Open
                  </a><a (click)=" updateRequest(request.ticketId) "  class="action-link" 
                   [class.disabled-link]="!request.status">
                                   
                  <i class="fas fa-edit"></i> Edit
                </a>

                </td> 
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

