@import "../admin-dashboard/admin-dashboard.component.scss";
@import "../../common/courses/courses.component.scss";
 .single-course-item {
  position: relative;
     .courses-content {
      
       .progress-container {
         position: relative;
         width: 60px;
         height: 60px;
         justify-content: center;
       }


     }
   }
   

 .size {
 font-size: 18px; // Adjust this value as needed to decrease the size
 }
.single-course-item {
     .courses-content {
         .status {
             margin-bottom: 0;
             justify-content: center;
        }
     }
 }
      body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
  }
  .db-main-content-area{
    margin-top: 10px;
    padding-top: 60px;
  }
  .no-courses {
    text-align: center;
    font-size: 1.2em;
    color: #999;
    margin-top: 20px;
    }
    .course-duration{
      margin-right: 5px;
     }
     .course-name-overlay {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      
  }
 
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    display: inline-block; /* Ensures underline is only as wide as the text */
    
    
  }
  
  .title::before {
    content: "";
    position: absolute;
    left: -6px;
    bottom: 0;
    height: 3px;
    width: 102px;
    border-radius: 5px;
    background: linear-gradient(135deg, #68ee0f, #89e018);
  }
  .shadow-box {
    background: #fff; /* White background */
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Page shadow */
    border-radius: 8px;
    margin: 20px auto; /* Center the container */
    max-width: 90%; /* Limit the max-width */
    max-height: 90%;
  }
  .scrollable-table {
    max-height: 300px; /* Adjust this value based on your layout */
    overflow-y: auto;  /* Enable vertical scrolling */
  }
  
  .scrollable-table table {
    width: 100%; /* Ensure the table takes full width of the container */
  
  }