<app-admin-navbar></app-admin-navbar>
<div class="user-area ptb-100">
    <div class="container">
        <div class="user-form-content register-width">
            <h3 style="text-align: center;font-size: x-large;">Add Employee</h3>
            <form class="user-form" [formGroup]="registerForm" (ngSubmit)="addEmployee()">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label for="employeeId">Employee ID *</label>
                            <input class="form-control" type="text" name="employeeId" id="employeeId"
                                formControlName="employeeId" (input)="onEmployeeIdInput($event)"
                                (keydown)="onEmployeeIdKeydown($event)">
                            <div *ngIf="registerForm.controls['employeeId'].invalid && (registerForm.controls['employeeId'].dirty || registerForm.controls['employeeId'].touched)">
                                <small class="text-danger" *ngIf="registerForm.controls['employeeId'].errors?.required">
                                    Employee ID is required.
                                </small>
                                <small class="text-danger" *ngIf="registerForm.controls['employeeId'].errors?.pattern">
                                    Employee ID must start with 'W3S' followed by 4 digits.
                                </small>
                            </div>
                        </div>



                        <div class="form-group">
                            <label> First Name * </label>
                            <input class="form-control" type="text" name="firstName" id="firstName"
                                formControlName="firstName">
                            <div
                                *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)">
                                <small class="text-danger" *ngIf="registerForm.controls['firstNmae'].errors?.required">
                                    FirstName is required.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Last Name *</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" formControlName="lastName">
                            <div *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)">
                                <small class="text-danger" *ngIf="registerForm.controls['lastName'].errors?.required">
                                    LastName is required.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address *</label>
                            <input class="form-control" type="text" name="address" id="address"
                                formControlName="address">
                            <div
                                *ngIf="registerForm.controls['address'].invalid && (registerForm.controls['address'].dirty || registerForm.controls['address'].touched)">
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['address'].errors?.required">Address is
                                    required.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="role">Role *</label>
                            <select class="form-control" id="role" formControlName="role">
                                <option value="Developer">Developer</option>
                                <option value="Tester">Tester</option>
                                <option value="TeamLead">TeamLead</option>
                            </select>
                            <div
                                *ngIf="registerForm.controls['role'].invalid && (registerForm.controls['role'].dirty || registerForm.controls['role'].touched)">
                                <small class="text-danger" *ngIf="registerForm.controls['role'].errors?.required">Role
                                    is required.</small>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Web Mail *</label>
                            <input class="form-control" type="text" name="webMail" id="webMail"
                                formControlName="webMail" (keyup)="validateWebMail()">
                            <div
                                *ngIf="registerForm.controls['webMail'].invalid && (registerForm.controls['webMail'].dirty || registerForm.controls['webMail'].touched)">
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['webMail'].errors?.required">WebMail is
                                    required.</small>
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['webMail'].errors?.duplicateWebMail">
                                    This WebMail is already in use.</small>

                            </div>
                            <div *ngIf="registerForm.get('webMail')?.hasError('duplicateWebMail')">
                                This web mail is already in use.
                            </div>
                            <div *ngIf="registerForm.get('webMail')?.hasError('email')">
                                This mail is must be in format like @gmail.com
                            </div>
                            <div class="text-danger" *ngIf="webMailStatus">WebMail is
                                Already existed, please try with another</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Web Mail Password *</label>
                        <input class="form-control" type="password" name="webMailPassword" id="webMailPassword"
                            formControlName="webMailPassword">
                        <div
                            *ngIf="registerForm.controls['webMailPassword'].invalid && (registerForm.controls['webMailPassword'].dirty || registerForm.controls['webMailPassword'].touched)">
                            <small class="text-danger"
                                *ngIf="registerForm.controls['webMailPassword'].errors?.required">WebMailPassword is
                                required.</small>
                            <small class="text-danger"
                                *ngIf="registerForm.controls['webMailPassword'].errors?.pattern">Password must
                                contain one special character and one digit..</small>
                        </div>
                        <div *ngIf="registerForm.get('webMailPassword')?.hasError('duplicatePhoneNumber')">
                            This phone number is already in use.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number *</label>
                        <input class="form-control" type="text" name="phoneNumber" id="phoneNumber"
                            formControlName="phoneNumber" (input)="onPhoneNumberInput($event)"
                            (keydown)="onPhoneNumberKeydown($event)" (keyup)="validatePhoneNumber()">
                        <div
                            *ngIf="registerForm.controls['phoneNumber'].invalid && (registerForm.controls['phoneNumber'].dirty || registerForm.controls['phoneNumber'].touched)">
                            <small class="text-danger" *ngIf="registerForm.controls['phoneNumber'].errors?.required">
                                Phone number is required.
                            </small>
                            <small class="text-danger" *ngIf="registerForm.controls['phoneNumber'].errors?.pattern">
                                Phone number must be 10 digits following '+91'.
                            </small>
                            <small class="text-danger"
                                *ngIf="registerForm.controls['phoneNumber'].errors?.duplicatePhoneNumber">This
                                PhoneNumber is
                                already in use. </small>
                        </div>

                        <div class="text-danger" *ngIf="phoneNumberStatus">PhoneNumber is
                            Already existed, please try with another</div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label>Email *</label>
                            <input class="form-control" type="email" name="employeeEmail" id="employeeEmail"
                                formControlName="employeeEmail" (keyup)="validateEmail()">
                            <div
                                *ngIf="registerForm.controls['employeeEmail'].invalid && (registerForm.controls['employeeEmail'].dirty || registerForm.controls['employeeEmail'].touched)">
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['employeeEmail'].errors?.required">Email is
                                    required.</small>
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['employeeEmail'].errors?.email">Invalid email
                                    format.</small>
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['employeeEmail'].errors?.duplicateEmail&& registerForm.get('employeeEmail')?.touched">This
                                    email is
                                    already in use. </small>


                            </div>

                            <div class="text-danger" *ngIf="emailStatus">Email is
                                Already existed, please try with another</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label>Password *</label>

                            <input type="password" class="form-control" name="employeePassword" id="employeePassword"
                                formControlName="employeePassword" (keyup)="validatePassword()">
                            <div class="password-icon" (click)="togglePassword(1)" (keydown.enter)="togglePassword(1)"
                                tabindex="0">
                                <span class="fas toggle-password" [ngClass]="hidePassword[1] ? 'fa-eye' : 'fa-eye-slash'"></span>
                            </div>
                            <div
                                *ngIf="registerForm.get('employeePassword')?.invalid && (registerForm.get('employeePassword')?.dirty || registerForm.get('employeePassword')?.touched)">
                                <div *ngIf="registerForm.get('employeePassword')?.hasError('required')"
                                    style="color: red;">Password is required</div>
                                <div *ngIf="registerForm.get('employeePassword')?.hasError('minlength')"
                                    style="color: red;">Password must be at least 8 characters long</div>
                                <div *ngIf="registerForm.get('employeePassword')?.hasError('pattern')"
                                    style="color: red;">Password must contain at least one uppercase letter, one
                                    lowercase letter, one number, and one special character</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label>Confirm Password *</label>
                            <input class="form-control" id="cofirmPassword" type="password" name="confirmPassword"
                                formControlName="confirmPassword" (keyup)="validatePassword()">
                            <div
                                *ngIf="registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)">
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['confirmPassword'].errors?.required">Confirm Password
                                    is required.</small>
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['confirmPassword'].errors?.mismatch ">Password and
                                    Confirm Password
                                    must be same. </small>

                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit"
                                [disabled]="registerForm.invalid || emailStatus || phoneNumberStatus || webMailStatus"
                                style="border-radius: 5px;" class="default-btn">Register</button>
                        </div>
                    </div>
                    <div class="popup" *ngIf="popupMessage" [ngClass]="popupType">
                        <div class="popup-content">
                            <!-- <img [src]="popupIcon" alt="Popup Icon">-->
                            <div [class]="isSuccess?'icon':'icon1'" [innerHtml]="popupIcon"></div>
                            <h2 [style.color]="textcolor">{{popupTitle}}</h2>
                            <p [style.color]="textcolor" [style.fontSize.px]="20">{{popupMessage}}</p>
                            <button [style.background-color]="textcolor" type="button"
                                (click)="closePopup()">OK</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
