
.user-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	padding-left: 170px;
    background: linear-gradient(to right, #f8f9fa, #ffffff); /* Subtle gradient background */
}

.container {
    max-width: 600px; /* Reduced box size */
    padding: 20px;
	right: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.user-form-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
}

.user-form h3 {
    font-size: 1.8rem;
    color: #495057;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1rem;
    color: #495057;
}

.form-control {
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 8px rgba(128, 189, 255, 0.6);
}

.text-danger {
    font-size: 0.875rem;
    color: #e74c3c;
}

.default-btn {
    display:inline-block; /* Button size adjusts based on content */
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(135deg, #305c13, #a9ee50);
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-top: 20px; /* Space above the button */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.default-btn:hover {
    background: linear-gradient(135deg, #305c13, #a9ee50);
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.default-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.default-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.popup button {
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.popup .icon {
    color: #28a745;
    font-size: 2rem;
}

.popup .icon1 {
    color: #e74c3c;
    font-size: 2rem;
}
