<app-rms-navbar></app-rms-navbar>
<div class="employee-interview-details-container">
  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="loading-spinner">Loading...</div>

  <!-- Error message -->
  <div *ngIf="showError" class="error-message">Error loading applicant details.</div>

  <!-- Interview details table -->
  <div class="interview-details-table">
    <table *ngIf="!isLoading && !showError && applicants.length > 0">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Employee Email</th>
          <th>Offer Letter Date</th>
          <th>Join Date</th>
          <th>Package</th>
          <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of applicants">
          <td>{{ detail.lastName }}</td>
          <td>{{ detail.email }}</td>
          <td>21-10-2024</td>
          <td>20-10-2024</td>
          <td>300000</td>

          <!-- <td>{{detail.}}</td> -->


          <!-- <td>{{ detail.reference }}</td>
          <td>Online</td>
          <td>{{ detail.interviewStatus }}</td> -->
          <!-- <td>
            <button class="update-btn" (click)="openUpdateStatusPopup(detail.interviewId)">Update</button>
            <button class="edit-btn" (click)="openEditPackagePopup(detail)">Edit</button>
          </td>           -->
        </tr>
      </tbody>
    </table>

    <div *ngIf="!isLoading && applicants.length === 0" class="no-content">No applicant details found.</div>
  </div>
</div>

