html, body {
  height: 100%; /* Ensure the page takes full height */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
  background-color: #f4f4f4;
}

.form-content {
  background-color: #fff;
  // padding: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 800px;
  margin-top: 50px;
  margin-bottom: 30px;
  max-width: 100%;
}


.form-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0 30px 0 30px ;
}

.form-group-inline {
  width: 23%;
}

.form-group-inline-2 {
  width: 100%;
}

.form-group-inline label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.title {
  font-size: 24px;
  text-align: center;
  color: #4caf50;
  margin-bottom: 30px;
  font-weight: bold;
}


.btn-primary {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #388e3c;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 220px;
}

.custom-dropdown-1 {
  position: relative;
  display: inline-block;
  width: 220px;
}

.custom-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  padding-right: 30px;
  width: 100%;
}


.custom-dropdown:after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: #555;
  text-align: center;
}


.custom-dropdown-1:after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: #555;
}

.large-textarea {
  width: 100%;
}

.form-actions {
  text-align: center;
}

.small-btn {
  padding: 8px 10px;
  font-size: 18px;
  width: 120px;
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .form-row {
    flex-direction: column; 
  }

  .form-group-inline {
    width: 100%; 
    margin-bottom: 20px;
  }

  .form-content {
    width: 100%;
    // padding: 20px;
  }

  .form-actions {
    margin-top: 20px;
  }
}


.employee-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.employee-checkbox input[type="checkbox"] {
  margin-right: 8px;
}

.custom-dropdown {
  width: 100%;
}

.small-select {
  padding: 6px 12px;  /* Adjust padding to control height */
  font-size: 1rem;  /* Optional: adjust font size */
  height: auto;  /* Allow the height to be controlled by padding */
}
