@import "../admin-dashboard/admin-dashboard.component.scss";

  .button-container {
    display: flex; 
    gap: 10px;
  }
  .button {
    padding: 10px 20px; 
    background-color: #1bbf72;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #1bbf92;
  }
  .action-link {
    margin-right: 15px;
        text-decoration: none; 
    color: #007bff; 
    font-size: 16px; 
  }
  
  .action-link i {
    margin-right: 5px;   }
  
  .action-link:hover {
    cursor: pointer;
    color: #1bbf72 ;
  }
  table{
    width:800px;
    margin-left: 100px;;
  }
  .table-sm td,
  .table-sm th {
    padding: 0.5rem; /* Compact padding */
    font-size: 0.875rem; /* Smaller text for compact view */
  }
  
  .table-bordered {
    border: 1px solid #dee2e6; /* Subtle border */
  }
  
  .table-bordered td,
  .table-bordered th {
    border: 1px solid #dee2e6; /* Consistent cell borders */
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; /* Subtle striping for better readability */
  }
  
  .table-hover tbody tr:hover {
    background-color: #e9ecef; /* Highlight row on hover */
  }
  
  .img-thumbnail {
    border: none; /* Remove border from thumbnail images */
  }
  .container-fluid{
    background-color: #fff;
    box-shadow: darkblue;
    
  }
  