 <app-admin-navbar></app-admin-navbar>

<!-- <div class="db-main-content-area">
    <div class="container-fluid"> -->
        <!-- <form>
        <h1 style="text-align: center;">Course Details</h1>
        <div class="container">
            <div class="button-container">
                <button class="button" routerLink="/admin-courses">All Courses</button>
        </div>
        
            <div class="courses-content">
                <ul class="status d-flex justify-content-between align-items-center">

                    <li>
                        <span>Course Name :</span>

                        {{ course.courseName }}
                    </li>
                    <li>
                        <span>Course Duration :</span>
                        <i class="ri-time-line"></i>
                        <span class="course-duration">{{ course.courseDuration }}</span><label>days</label>
                    </li>
                </ul>


                <div class="box">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>

                                    <th scope="col">SubCourseName</th>
                                    <th scope="col">SubCourseDuration</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let subcourse of course.subCourses">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <!-- <img src="assets/images/user/user1.jpg" alt="Image"> -->
                                             <!-- <span>{{subcourse.subCourseName}}</span>
                                        </div>
                                    </td>
                                    <td>{{subcourse.subCourseDuration}}</td>


                                </tr>
                            </tbody>

                        </table>

                        <div *ngIf="course.subCourses.length === 0" class="no-subcourses">
                            No SubCourses Available.....!
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </form> --> -->
    <!-- </div>
</div>  -->
<!-- 
<form>
    <h1 style="text-align: center;">Course Details</h1>
    <div class="container">
        <div style="text-align: left;">
            <button class="button" routerLink="/admin-courses">All Courses</button>
        </div>

        <div class="courses-content box-container">
            <ul >
                <li>
                    <span>Course Name :</span>
                    {{ course.courseName }}
                </li>
                <li>
                    <span>Course Duration :</span>
                    <i class="ri-time-line"></i>
                    <span class="course-duration">{{ course.courseDuration }}</span><label>days</label>
                </li>
            </ul>

            <div class="box">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">SubCourseName</th>
                                <th scope="col">SubCourseDuration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subcourse of course.subCourses">
                                <td>
                                    <div class="d-flex align-items-center text-center">
                                        <span>{{subcourse.subCourseName}}</span>
                                    </div>
                                </td>
                                <td>{{subcourse.subCourseDuration}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div *ngIf="course.subCourses.length === 0" class="no-subcourses">
                        No SubCourses Available.....!
                    </div>
                </div>
            </div>
        </div>
    </div>
</form> -->






<form>
    <h1 style="text-align: center;">Course Details</h1>
    <div class="container">
        <div class="courses-content box-container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        <li>
                            <strong>Course Name :</strong>
                            {{ course.courseName }}
                        </li>
                        <li>
                            <strong>Course Duration :</strong>
                            <i class="ri-time-line"></i>
                            <span>{{ course.courseDuration }} days</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <button class="button" routerLink="/admin-courses">All Courses</button>
                </div>
            </div>

            <div class="box mt-4">
                <div class="table-responsive">
                    <div class="scrollable-table">

                        <table class="table table-bordered table-striped">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">SubCourse Name</th>
                                <th scope="col">Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subcourse of course.subCourses">
                                <td class="text-center">{{ subcourse.subCourseName }}</td>
                                <td class="text-center">{{ subcourse.subCourseDuration }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                    <div *ngIf="course.subCourses.length === 0" class="no-subcourses text-center">
                        No SubCourses Available.....!
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

