 <app-admin-navbar></app-admin-navbar>



<form>
    <h1  class="title" style="text-align: center;">Course Details</h1>
    <div class="container">
        <div class="courses-content box-container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        <li>
                            <strong>Course Name :</strong>
                            {{ course.courseName }}
                        </li>
                        <li>
                            <strong>Course Duration :</strong>
                            <i class="ri-time-line"></i>
                            <span>{{ course.courseDuration }} days</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <button class="button" routerLink="/admin-courses">All Courses</button>
                </div>
            </div>

            <div class="box mt-4">
                <div class="table-responsive">
                    <div class="scrollable-table">

                        <table class="table table-bordered table-striped">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">SubCourse Name</th>
                                <th scope="col">Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subcourse of course.subCourses">
                                <td class="text-center">{{ subcourse.subCourseName }}</td>
                                <td class="text-center">{{ subcourse.subCourseDuration }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                    <div *ngIf="course.subCourses.length === 0" class="no-subcourses text-center">
                        No SubCourses Available.....!
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

