.body {
  padding-top: 120px;
  padding-left: 120px;
}

.container {
  max-width: 840px;
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
  margin-bottom: 20px; /* Remove extra margin if needed */
  padding-bottom: 0; /* Remove padding to eliminate space between text and underline */
  border-bottom: 2px solid rgb(7, 228, 7); /* Underline color and thickness */
  text-align: center; /* Center align text */
  display: inline; /* Ensure underline is the same width as the text */
}

form[_ngcontent-ng-c1449491787] {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 100%;
  justify-content: center;
}


.form-control {
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.input-container {
  position: relative;
}

.input-with-delete {
  display: flex;
  align-items: center;
}

.input-with-delete .form-control {
  flex: 1;
}

.input-with-delete .trash-icon {
  margin-left: 8px;
  color: red;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px;
  box-sizing: border-box;
  transition: color 0.3s ease, transform 0.3s ease;
}

.trash-icon:hover {
  color: darkred;
  transform: scale(1.1);
}

.trash-icon:active {
  transform: scale(0.95);
}

.btn-primary {
  background: linear-gradient(135deg, #305c13, #a9ee50);
  color: #fff;
}

.btn-success {
  background-color: #007bff;
  color: #fff;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .content {
    flex-direction: column;
  }
}

@media (max-width: 584px) {
  .content form {
    max-height: 300px;
    overflow-y: scroll;
  }

  .form-control {
    height: 35px;
  }
}
.form-row {
  display: flex;
  justify-content: space-between; /* Adjust spacing between controls */
  gap: 10px; /* Add space between controls */
}

.form-group {
  flex: 1; /* Ensure each control takes equal space */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%; /* Ensure input takes full width of the form-group */
}
.button {
  padding: 5px 10px;
  background-color: #1bbf72; 
  color: #fff; 
  border: none;
  cursor: pointer;
  border-radius: 5px
}

.button:hover {
  background-color: #025f46;
}
