<app-admin-navbar></app-admin-navbar>

<div class="body">
  <div class="container">
    <div style="text-align: center;">

      <h3 class="title">Add Course</h3>
    </div>
    <div class="content">
      <form [formGroup]="courseForm" (ngSubmit)="addCourse()">
        <!-- Course Name -->
        <div class="form-group">
          <label for="courseName" class="form-label">Course Name</label>
          <input id="courseName" type="text" class="form-control" formControlName="courseName"  (input)="validateCourseName()">
          <div *ngIf="courseForm.get('courseName')?.invalid && (courseForm.get('courseName')?.touched || courseForm.get('courseName')?.dirty)">
            <small class="text-danger" *ngIf="courseForm.get('courseName')?.errors?.required">Course Name is required</small>
            <small class="text-danger" *ngIf="courseForm.get('courseName')?.errors?.dirtyData">Course Name does not contains invalid characters</small>
       
            <small class="text-danger" *ngIf="courseForm.get('courseName')?.errors?.maxlength">
              Course Name cannot be more than 15 characters.
            </small>
          </div>
          <div class="text-danger" *ngIf="courseNameStatus">
            Course Name Already in use.
          </div>
        </div>

        <!-- Course Duration -->
        <div class="form-group">
          <label for="courseDuration" class="form-label">Course Duration</label>
          <input id="courseDuration" type="number" class="form-control" formControlName="courseDuration">
          <div *ngIf="courseForm.get('courseDuration')?.invalid && (courseForm.get('courseDuration')?.touched || courseForm.get('courseDuration')?.dirty)">
            <small class="text-danger" *ngIf="courseForm.get('courseDuration')?.errors?.required">Course Duration is required</small>
            <small class="text-danger" *ngIf="courseForm.get('courseDuration')?.errors?.pattern">Course Duration must be a number</small>
          </div>
        </div>

        <!-- Sub Courses -->
        <div formArrayName="subCourses">
          <div *ngFor="let subCourse of subCourses.controls; let i = index" [formGroupName]="i">
            <div class="form-group">
              <label for="subCourseName-{{i}}">Sub Course Name</label>
              <input type="text" id="subCourseName-{{i}}" class="form-control" formControlName="subCourseName">
              <div *ngIf="subCourse.get('subCourseName')?.invalid && (subCourse.get('subCourseName')?.touched || subCourse.get('subCourseName')?.dirty)">
                <small class="text-danger" *ngIf="subCourse.get('subCourseName')?.errors?.required">Sub Course Name is required</small>
              </div>
            </div>
            <div class="form-group subcourse-duration-group">
              <label for="subCourseDuration-{{i}}">Sub Course Duration</label>
              <div class="input-with-delete">
                <input type="number" id="subCourseDuration-{{i}}" class="form-control" formControlName="subCourseDuration">
                <i class="ri-delete-bin-line trash-icon" (click)="removeSubCourse(i)"></i>
              </div>
              <div *ngIf="subCourse.get('subCourseDuration')?.invalid && (subCourse.get('subCourseDuration')?.touched || subCourse.get('subCourseDuration')?.dirty)">
                <small class="text-danger" *ngIf="subCourse.get('subCourseDuration')?.errors?.required">Sub Course Duration is required</small>
                <small class="text-danger" *ngIf="subCourse.get('subCourseDuration')?.errors?.pattern">Sub Course Duration must be a number</small>
              </div>
              <div *ngIf="courseForm.errors?.durationExceeded">
                <small class="text-danger">The total duration of sub courses cannot exceed the course duration.</small>
              </div>
            </div>
          </div>
        </div>

        <!-- Add Sub Course Button and Submit Button -->
        
          <!-- <div class="button-container">
            <button type="button" class="btn btn-success button" (click)="addSubCourse()"><i class="ri-add-circle-line"></i> Add Sub Course</button>
      
            
            
            <button type="submit" class="btn btn-primary button">Submit Course</button>
          </div> -->
          
        <div >
          <button type="button" class="btn btn-success btn-block" (click)="addSubCourse()">
            <i class="ri-add-circle-line"></i> Add Sub Course   </button>
        </div>
      
        <!-- Submit Button -->
        <div class="button">
          <button type="submit" class="btn  btn-primary btn-block" [disabled]="courseForm.invalid||courseNameStatus">Submit Course</button>
        </div>
          <!-- Popup Message -->
          <div class="popup-overlay" *ngIf="popupMessage">
            <div class="popup" [ngClass]="popupType">
              <div class="popup-content">
                <!-- <img [src]="popupIcon" alt="Popup Icon"> -->
                <div [class]="isSuccess ? 'icon' : 'icon1'" [innerHtml]="popupIcon"></div>
                <h2 [style.color]="textcolor">{{popupTitle}}</h2>
                <p [style.color]="textcolor" [style.fontSize.px]="20">{{popupMessage}}</p>
                <button [style.background-color]="textcolor" type="button" (click)="closePopup()">OK</button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
