.overview-content {
	h3 {
		font-size: 20px;
		margin-bottom: 15px;

        &:not(:first-child) {
            margin-top: 25px;
        }
	}
    p {
        font-size: 15px;
    }
	ul {
		li {
			color: var(--paragraphColor);
            margin-bottom: 12px;
            font-size: 15px;

            &:last-child {
                margin-bottom: 0;
            }
		}
	}
}
.curriculum-content {
	ul {
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.title {
		margin-bottom: 30px;

		li {
			h3 {
				display: inline-block;
                font: {
                    size: 20px;
                    weight: 600;
                };
			}
			span {
				float: right;
				margin-left: 30px;
				color: var(--headingColor);
                font: {
                    weight: 500;
                    size: 16px;
                };
			}
		}
	}
	.lesson {
		margin-bottom: 40px;

		.border-bottom {
			border-bottom: 1px solid #e1e2e3;
			padding-bottom: 5px;
			margin-bottom: 20px;

			h3 {
				font-size: 18px;
				display: inline-block;
			}
			span {
				float: right;
			}
		}
		.lesson-list {
            pointer-events: none;
			margin-bottom: 15px;
            font-size: 15px;
            
			a {
				color: var(--paragraphColor);
			}
			span {
				float: right;
				margin-left: 15px;

				&.color {
					color: var(--primaryColor);
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
}
.instructor-content {
	.instructors-content {
		h3 {
			margin-bottom: 10px;
            font: {
                size: 20px;
                weight: 600;
            };
		}
		.category {
			display: block;
			font-size: 15px;
			margin-bottom: 15px;
		}
		.review {
            margin-bottom: 15px;

            i {
                line-height: 1;
                color: #f6b429;
                margin-right: 3px;
			}
		}
		.students {
			display: block;
			font-size: 15px;
            padding-left: 18px;
            position: relative;
			margin-bottom: 15px;

            i {
                top: 0;
                left: 0;
                position: absolute;
                color: var(--primaryColor);
            }
		}
		.courses-7 {
			margin-bottom: 15px;
            position: relative;
            padding-left: 20px;
			font-size: 15px;
			display: block;

            i {
                top: 0;
                left: 0;
                position: absolute;
                color: var(--primaryColor);
            }
		}
		.sosial-link {
			padding-left: 0;
			margin-bottom: 10px;
			list-style-type: none;

			li {
				display: inline-block;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
        p {
            font-size: 15px;
        }
	}
}
.review-content {
	.rating-point {
		background-color: #f5f1ee;
		padding: 15px;
		text-align: center;
		h2 {
			font-size: 72px;
			color: var(--primaryColor);
			line-height: 1;
		}
		ul {
			padding-left: 0;
			margin-bottom: 8px;
			list-style-type: none;
			li {
				display: inline-block;
				i {
					color: #f6b429;
				}
			}
		}
		span {
			color: var(--headingColor);
			font-weight: 500;
		}
	}
	.rating-bar {
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
		li {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.bar-1 {
			background-color: #eee4dc;
			height: 5px;
			width: 100%;
			position: relative;
			display: block;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 5px;
				background-color: var(--primaryColor);
			}
		}
		.bar-2 {
			background-color: #eee4dc;
			height: 5px;
			width: 100%;
			position: relative;
			display: block;
		}
		.bar-3 {
			background-color: #eee4dc;
			height: 5px;
			width: 100%;
			position: relative;
			display: block;
		}
		.bar-4 {
			background-color: #eee4dc;
			height: 5px;
			width: 100%;
			position: relative;
			display: block;
		}
		.bar-5 {
			background-color: #eee4dc;
			height: 5px;
			width: 100%;
			position: relative;
			display: block;
		}
	}
	.total-review {
		padding-left: 0;
		margin-bottom: 15px;
		list-style-type: none;
		line-height: 1;
		li {
			display: inline-block;
			i {
				color: #f6b429;
			}
			span {
				position: relative;
				top: -2px;
				margin-left: 5px;
			}
		}
	}
	h4 {
		margin-top: 50px;
        font: {
            size: 20px;
            weight: 600;
        };
	}
	.feedback-list {
		padding-left: 0;
		list-style-type: none;
        margin: {
            top: 30px;
            bottom: 0;
        };
		li {
			position: relative;
			padding-left: 110px;
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}
			img {
				top: 0;
				left: 0;
				position: absolute;
				border-radius: 50px;
			}
			h3 {
				font-size: 16px;
                margin-bottom: 10px;
			}
            p {
                font-size: 15px;
            }
			.review {
                color: #f6b429;
                margin-bottom: 5px;

                i {
                    margin-right: 2px;
                    line-height: 1;
                }
			}
		}
	}
	.leave-reply {
		margin-top: 40px;

		h3 {
			margin-bottom: 20px;
			font-size: 24px;
		}
		form {
			p {
				margin-bottom: 30px;
			}
			.form-group {
				margin-bottom: 30px;

				label {
					margin-bottom: 10px;
                    font: {
                        weight: 500;
                        size: 14px;
                    };
				}
				.form-control {
					background-color: var(--whiteColor);
					border: 1px solid #ebebeb;

					&::placeholder {
						color: #cccccc;
					}
				}
			}
		}
	}
}
.overview {
	.nav-tabs {
		text-align: center;
		margin-bottom: 40px;
		background-color: #f5f1ee;

		.nav-item {
			display: table-cell;
			border-right: 1px solid #eee4dc;

			.nav-link {
				transition: var(--transition);
				color: var(--blackColor);
				cursor: pointer;
				display: block;
				padding: {
					top: 20px;
					left: 73px;
					right: 73px;
					bottom: 20px;
				};
				&::before {
					left: 0;
					width: 0;
					bottom: 0;
					height: 2px;
					content: "";
					position: absolute;
					background-color: #1bbf72;
					transition: var(--transition);
				}
				&:hover {
					background-color: var(--whiteColor);

					&::before {
						width: 100%;
					}
				}
			}
			&.active {
				.nav-link {
					background-color: var(--whiteColor);

					&::before {
						width: 100%;
					}
				}
			}
			&:last-child {
				border-right: none;
			}
		}
	}
	.tab-content > .tab-pane {
		display: block;
	}
	.fade:not(.show) {
		opacity: 1;
	}
}

@import "../../common/courses/courses.component.scss";
@import "../../common/widget-sidebar/widget-sidebar.component.scss";

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.overview-content {
		p {
			font-size: 14px;
		}
		ul {
			li {
				font-size: 14px;
			}
		}
	}
    .curriculum-content {
        .title {
            li {
                span {
                    float: left;
					margin: {
						left: 0;
						right: 30px;
					};
                }
            }
        }
        .lesson {
            .border-bottom {
                h3 {
                    font-size: 16px;
                }
            }
            .lesson-list {
                font-size: 14px;
            }
        }
    }
	.instructor-content {
		.instructors-content {
			margin-top: 20px;
		}
	}
    .review-content {
        .rating-bar {
            margin: {
                top: 30px;
                bottom: 30px;
            };
        }
        .feedback-list {
            li {
                padding-left: 0;

                img {
                    position: initial;
                    margin-bottom: 20px;
                }
            }
        }
    }
	.overview {
		.nav-tabs {
			margin-bottom: 30px;
	
			.nav-item {
				display: block;
				border-bottom: 1px solid #eee4dc;
	
				.nav-link {
					padding: {
						top: 15px;
						left: 20px;
						right: 20px;
						bottom: 15px;
					};
				}
			}
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .curriculum-content {
        .title {
            li {
                span {
                    float: left;
					margin: {
						left: 0;
						right: 30px;
					};
                }
            }
        }
        .lesson {
            .border-bottom {
                h3 {
                    font-size: 16px;
                }
            }
            .lesson-list {
                font-size: 14px;
            }
        }
    }
    .review-content {
        .rating-bar {
            margin: {
                top: 30px;
                bottom: 30px;
            };
        }
        .feedback-list {
            li {
                padding-left: 0;
				
                img {
                    position: initial;
                    margin-bottom: 20px;
                }
            }
        }
    }
	.instructor-content {
		.instructors-content {
			margin-top: 20px;
		}
	}
	.overview {
		.nav-tabs {
			.nav-item {
				.nav-link {
					padding: {
						top: 17px;
						left: 55px;
						right: 55px;
						bottom: 17px;
					};
				}
			}
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.overview {
		.nav-tabs {
			.nav-item {
				.nav-link {
					padding: {
						top: 20px;
						left: 43px;
						right: 43px;
						bottom: 20px;
					};
				}
			}
		}
	}

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

	.overview {
		.nav-tabs {
			.nav-item {
				.nav-link {
					padding: {
						top: 20px;
						left: 43px;
						right: 43px;
						bottom: 20px;
					};
				}
			}
		}
	}

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}




// New Css

// Navbar
.db-navbar {
	background-color: #fdfcfc !important;
	position: fixed;
	width: 50%;
	z-index: 1;
    padding: {
        top: 15px;
        left: 12px;
        right: 12px;
        bottom: 15px;
    };
	.navbar-brand {
        img {
            width: 220px;
            height: 75px;
        }
		cursor: pointer;
	}
	h3 {
		font-size: 25px;
        margin: {
            bottom: 0;
            left: 118px;
            right: auto;
        };
	}
	.db-others-option {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			margin-left: 30px;
            
			&:first-child {
				margin-left: 0;
			}
            a {
                color: var(--paragraphColor);

                &:hover {
                    color: var(--primaryColor);
                }
            }
			.db-option {
                position: relative;
                
				img {
					max-width: 40px;
					border-radius: 50px;
				}
				span {
					margin-left: 5px;
				}
                .dropdown-toggle {
                    display: flex;
                    position: relative;
                    padding: 0 18px 0 0;
                    align-items: center;
                    color: var(--paragraphColor);
                    background-color: transparent;
                    transition: var(--transition);

                    &::after {
                        position: absolute;
                        top: 18px;
                        right: 0;
                    }
                    &:hover {
                        color: var(--primaryColor);
                    }
                    span {
                        margin-left: 5px;
                    }
                }
				.dropdown-menu {
                    right: 0;
					margin: 0;
                    top: 100%;
					left: auto;
					opacity: 0;
					border: none;
					padding: 8px 0;
					border-radius: 0;
                    margin-top: 20px;
					visibility: hidden;
					display: block !important;
					box-shadow: var(--boxShadow);
					transition: var(--transition);
					background-color: var(--whiteColor);

					.dropdown-item {
						color: var(--paragraphColor);
                        border-bottom: 1px dashed #eeeeee;
                        padding-bottom: 8px;
                        margin-bottom: 8px;

                        &:last-child {
                            margin-bottom: 0;
                            padding-bottom: 0;
                            border-bottom: none;
                        }
						&:hover {
							color: var(--primaryColor);
							background-color: transparent;
						}
					}
				}
				&.active {
                    .dropdown-menu {
                        opacity: 1;
                        margin-top: 10px;
                        visibility: visible;
                    }
				}
			}
		}
	}
}
.navbar-toggler {
    color: var(--blackColor);
    font-size: inherit;
    box-shadow: unset;
    display: none;
    border: none;
    padding: 0;

    .burger-menu {
        cursor: pointer;

        span {
            height: 3px;
            width: 30px;
            margin: 5px 0;
            display: block;
            background: var(--blackColor);
        }
    }
}
.active {
    .navbar-toggler {
        .burger-menu {
            span {
                &.top-bar {
                    transform: rotate(45deg);
                    transform-origin: 10% 10%;
                }
                &.middle-bar {
                    opacity: 0;
                }
                &.bottom-bar {
                    transform: rotate(-45deg);
                    transform-origin: 10% 90%;
                    margin-top: 5px;
                }
            }
        }
    }
}

// Sidebar
.db-left-sidebar-area {
	transition: var(--transition);
	background-color: #fdfcfc;
	max-width: 250px;
	padding: 20px 0;
	position: fixed;
	overflow: auto;
	height: 100vh;
	z-index: 5;
    top: 95px;
    right: 0;
    left: 0;

	ul {
		margin: 0;
		padding: 0;
		padding-bottom: 95px;
		list-style-type: none;

		li {
			a {
				display: block;
				padding: 15px 24px;
				font-size: var(--fontSize);

				i {
					top: 2px;
					width: 35px;
					height: 35px;
					font-size: 20px;
					margin-right: 5px;
					line-height: 35px;
					position: relative;
					text-align: center;
					display: inline-block;
					background-color: #f5f1ee;
					transition: var(--transition);
					border-radius: var(--borderRadius);
				}
				&:hover {
					color: var(--primaryColor);

					i {
						color: var(--whiteColor);
						background-color: var(--primaryColor);
					}
				}
				&.active {
					color: var(--primaryColor);
                    
					i {
						color: var(--whiteColor);
						background-color: var(--primaryColor);
					}
				}
			}
		}
	}
    .navbar-toggler {
        position: absolute;
        right: 5px;
        top: 10px;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    // Navbar
    .db-navbar {
        position: relative;
        padding: {
            left: 0;
            right: 0;
            top: 12px;
            bottom: 12px;
        };
        h3 {
            display: none;
        }
        .db-others-option {
            li {
                margin-left: 0;
                
                .db-option {
                    img {
                        max-width: 30px;
                    }
                    span {
                        margin-left: 10px;
                    }
                    .dropdown-toggle {
                        &::after {
                            top: 13px;
                        }
                    }
                }
                &:nth-child(1) {
                    display: none;
                }
            }
        }
    }
    .navbar-toggler {
        display: block;
    }

    // Sidebar
    .db-left-sidebar-area {
        top: 0;
        left: 0;
        right: auto;
        width: 270px;
        height: 100vh;
        display: none;
    
        ul {
            padding-bottom: 0;
    
            li {
                a {
                    padding: 13px 15px;
                    font-size: 15px;
                }
            }
        }
        &.active {
            display: block;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    // Navbar
    .db-navbar {
        position: relative;
        padding: {
            left: 0;
            right: 0;
            top: 12px;
            bottom: 12px;
        };
        h3 {
            display: none;
        }
        .db-others-option {
            li {
                .db-option {
                    img {
                        max-width: 30px;
                    }
                    span {
                        margin-left: 10px;
                    }
                    .dropdown-toggle {
                        &::after {
                            top: 13px;
                        }
                    }
                }
            }
        }
    }
    .navbar-toggler {
        display: block;
    }

    // Sidebar
    .db-left-sidebar-area {
        top: 0;
        left: 0;
        right: auto;
        width: 270px;
        height: 100vh;
        display: none;
    
        ul {
            padding-bottom: 0;
    
            li {
                a {
                    padding: 13px 15px;
                }
            }
        }
        &.active {
            display: block;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    // Sidebar
    .db-left-sidebar-area {
        max-width: 200px;

        ul {
            padding-bottom: 0;

            li {
                a {
                    padding: 13px 20px;
                    font-size: 15px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}