<app-instructor-navbar></app-instructor-navbar>

<div class="db-main-content-area">
  <div class="container-fluid">

    <!-- Total -->
    <div class="row justify-content-center">
      
      <div class="col-xl-4 col-lg-6 col-md-6 col-6">
        <div class="db-single-courses">
          <i class="ri-book-open-line"></i>
          <h2>{{ numberOfTeams }}</h2>
          <span>Teams</span>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-6"> <!-- Add this block -->
        <div class="db-single-courses">
          <i class="ri-group-line"></i>
          <h2>{{ numberOfEmployees }}</h2>
          <span>Employees</span>
        </div>
      </div>

    </div>
  </div>
</div>
