
<app-rms-navbar></app-rms-navbar>
<div class="employee-interview-details-container">
  <!-- Loading spinner -->
  <!-- <div *ngIf="isLoading" class="loading-spinner">Loading...</div> -->

  <!-- Error message -->
  <!-- <div *ngIf="showError" class="error-message">Error loading interview details.</div> -->

  <!-- Interview details table -->
  <div class="interview-details-table">
    <table>
      <thead>
        <tr>
          <th>EmployeeId</th>
          <th>Candidate Name</th>
          <th>Date Of Joining</th>
          <th>Resignation Date</th>
          <th>Date of Relieving</th>
          <th>Reason</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of relieve">
          <td>{{ detail.employeeId }}</td>
          <td>{{ detail.employeeName }}</td>
          <td>{{ detail.joiningDate }}</td>
          <td>{{ detail.resignDate }}</td>
          <td>{{ detail.relieveDate }}</td>
          <td>{{ detail.reason }}</td>
          <td>{{ detail.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


