@import "../../admin-dashboard/admin-dashboard/admin-dashboard.component.scss";
.form-container {
    padding: 20px;
    margin-top: 150px;
    margin-left: 100px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
  }
  
  .text-danger {
    font-size: 0.875rem;
  }
  h1 {
    margin-top: 0; 
    margin-bottom: 20px;
    color: #333; 
  }
  .button-container {
    display: flex; 
    gap: 10px; 
  }
  .button {
    padding: 10px 20px;
    background-color: #1bbf72; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .button:hover {
    background-color: #1bbf92; 
  }
  .button:disabled{
    background-color: #cccccc; 
              color: #666666;
          cursor: not-allowed;
  }