

<app-admin-navbar></app-admin-navbar>
<div class="container">
  <div class="form-container">
    <h4  style="text-align: center;" >Update Event</h4>
    <form [formGroup]="eventForm" (ngSubmit)="updateEvent()">
  
      <div class="button-container">
        <button class="button" (click)="gotoAllEvents()">All Events</button>
</div>
      <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" formControlName="subject" class="form-control" required>
        <div *ngIf="eventForm.get('subject')?.invalid && eventForm.get('subject')?.touched" class="text-danger">
          Subject is required.
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" class="form-control" required></textarea>
        <div *ngIf="eventForm.get('description')?.invalid && eventForm.get('description')?.touched" class="text-danger">
          Description is required.
        </div>
      </div>

      <div class="form-group">
        <label for="dateTime">Date and Time:</label>
        <input type ="datetime-local" id="dateTime" formControlName="dateTime" class="form-control" required>
        <div *ngIf="eventForm.get('dateTime')?.invalid && eventForm.get('dateTime')?.touched" class="text-danger">
          DateTime is required.
        </div>
      </div>
      <div class="form-group text-center">
      <button style="text-align: center;" type="submit" class="button" [disabled]="eventForm.invalid">Update Event</button>
    </div>
    </form>
  </div>
</div>

