<app-user-navbar></app-user-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">

        <!-- Total -->
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-4 col-6">
                <div class="db-single-courses">
                    <i class="ri-movie-line"></i>
                    <h2>1</h2>
                    <span>Active Courses</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-6">
                <div class="db-single-courses">
                    <i class="ri-movie-line"></i>
                    <h2>{{ totalTasks }}</h2>
                    <span>Completed Tasks</span>
                </div>
            </div>
        </div>

    </div>
</div>