// General body styling
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // Ensure it takes full viewport height
  padding: 0 20px; // Ensure padding for small screens
  // background: linear-gradient(135deg, #f0f4f8, #d9e4f1); // Light gradient background
}

// Container styling
.container {
  max-width: 450px;
  width: 100%;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // left: 500px;
  margin-top: 100px;
}

// Title styling
.title1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #333333;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 4px;
    width: 60px;
    border-radius: 5px;
    background: linear-gradient(135deg, #68ee0f, #89e018);
  }
}

// Form group styling
.form-group {
  width: 100%;
  margin-bottom: 25px;
}

// Input and textarea styling
.form-control {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid #cccccc;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    border-color: #68ee0f;
    box-shadow: 0 0 0 4px rgba(104, 238, 15, 0.2);
  }
}

.address-box {
  height: 150px;
  resize: vertical;
}

// Button styling
.button-container {
  text-align: center;

  .btn-primary {
    background: linear-gradient(135deg, #305c13, #a9ee50);
    color: #ffffff;
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: linear-gradient(135deg, #274911, #90db44);
    }
  }
}

// Responsive design
@media (max-width: 768px) {
  .container {
    padding: 30px;
  }

  .form-control {
    font-size: 14px;
    padding: 8px 12px;
  }

  .title1 {
    font-size: 24px;
  }
}
