<!-- <app-user-navbar></app-user-navbar>
<div class="body">
  <div class="container">
    <h1 class="title1">User Request</h1>
    <div class="form-container shadow-box">
      <div style="text-align:left">
        <button class="button" routerLink="/user-request-list">All Request</button>
      </div>
      <form [formGroup]="supportRequestForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="subject" class="form-label">Subject:</label>
          <input type="text" id="subject" formControlName="subject" class="form-control" required>
         
          <div
          *ngIf="supportRequestForm.controls['subject'].invalid && (supportRequestForm.controls['subject'].dirty || supportRequestForm.controls['subject'].touched)">
          <small class="text-danger" *ngIf="supportRequestForm.controls['subject'].errors?.required">
              Subject is required.
          </small>
          <small class="text-danger" *ngIf="supportRequestForm.get('subject')?.errors?.dirtyData">subject does not contain invalid characters </small>
          <small class="text-danger" *ngIf="supportRequestForm.controls['subject'].errors?.minlength ">
              Subject must be at least 6 characters.
          </small>
          <small class="text-danger" *ngIf="supportRequestForm.controls['subject'].errors?.maxlength ">
              Subject cannot be more than 20 characters.
          </small>
          </div>
        </div>

        <div class="form-group">
          <label for="description" class="form-label">Description:</label>
          <textarea id="description" formControlName="description" class="form-control address-box" required placeholder="Please enter text"></textarea>
         
          <div
          *ngIf="supportRequestForm.controls['description'].invalid && (supportRequestForm.controls['description'].dirty || supportRequestForm.controls['description'].touched)">
          <small class="text-danger" *ngIf="supportRequestForm.controls['description'].errors?.required">
            description is required.
          </small>
          <small class="text-danger" *ngIf="supportRequestForm.controls['description'].errors?.minlength ">
            description must be at least 6 characters.
          </small>
          <small class="text-danger" *ngIf="supportRequestForm.controls['description'].errors?.maxlength ">
            description cannot be more than 100 characters.
          </small>
          </div>
        </div>

        <div class="form-group button-container">
          <button type="submit" class="btn-primary">Create Request</button>
        </div>
        <div class="popup-overlay" *ngIf="popupMessage">
          <div class="popup" [ngClass]="popupType">
            <div class="popup-content">
              <div [class]="isSuccess ? 'icon' : 'icon1'" [innerHtml]="popupIcon"></div>
              <h2 [style.color]="textcolor">{{popupTitle}}</h2>
              <p [style.color]="textcolor" [style.fontSize.px]="20">{{popupMessage}}</p>
              <button [style.background-color]="textcolor" type="button" (click)="closePopup()">OK</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- <app-user-navbar></app-user-navbar>
<div class="body">
  <div class="button-container">
    <button class="button" [ngClass]="{'active': activeButton === 'allRequests'}" routerLink="/user-request-list"
      (click)="setActiveButton('allRequests')">
      <i class="ri-list-check"></i> All Requests
    </button>
    <button class="button" [ngClass]="{'active': activeButton === 'userRequest'}"
    routerLink="/user-create-request"
    (click)="setActiveButton('userRequest')">
      <i class="ri-user-line"></i> User Request
    </button>
  </div>
  <div class="container">
    <h1 class="title1">User Request</h1>
  

    <div class="form-container">
   
      <form [formGroup]="supportRequestForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="subject" class="form-label">Subject:</label>
          <input type="text" id="subject" formControlName="subject" class="form-control" required>
         
          <div
          *ngIf="supportRequestForm.controls['subject'].invalid && (supportRequestForm.controls['subject'].dirty || supportRequestForm.controls['subject'].touched)">
          <small class="text-danger" *ngIf="supportRequestForm.controls['subject'].errors?.required">
              Subject is required.
          </small>
          <small class="text-danger" *ngIf="supportRequestForm.get('subject')?.errors?.dirtyData">subject does not contain invalid characters </small>
          <small class="text-danger" *ngIf="supportRequestForm.controls['subject'].errors?.minlength ">
              Subject must be at least 6 characters.
          </small>
          <small class="text-danger" *ngIf="supportRequestForm.controls['subject'].errors?.maxlength ">
              Subject cannot be more than 20 characters.
          </small>
          </div>
        </div>

        <div class="form-group">
          <label for="description" class="form-label">Description:</label>
          <textarea id="description" formControlName="description" class="form-control address-box" required placeholder="Please enter text"></textarea>
         
          <div
          *ngIf="supportRequestForm.controls['description'].invalid && (supportRequestForm.controls['description'].dirty || supportRequestForm.controls['description'].touched)">
          <small class="text-danger" *ngIf="supportRequestForm.controls['description'].errors?.required">
            description is required.
          </small>
          <small class="text-danger" *ngIf="supportRequestForm.controls['description'].errors?.minlength ">
            description must be at least 6 characters.
          </small>
          <small class="text-danger" *ngIf="supportRequestForm.controls['description'].errors?.maxlength ">
            description cannot be more than 100 characters.
          </small>
          </div>
        </div>

        <div class="form-group button-container">
          <button type="submit" class="btn-primary">Create Request</button>
        </div>
        <div class="popup-overlay" *ngIf="popupMessage">
          <div class="popup" [ngClass]="popupType">
            <div class="popup-content">
              <div [class]="isSuccess ? 'icon' : 'icon1'" [innerHtml]="popupIcon"></div>
              <h2 [style.color]="textcolor">{{popupTitle}}</h2>
              <p [style.color]="textcolor" [style.fontSize.px]="20">{{popupMessage}}</p>
              <button [style.background-color]="textcolor" type="button" (click)="closePopup()">OK</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->



<app-user-navbar></app-user-navbar>
<div class="body">
  <!-- Button Container -->
 
  <div class="button-container">
    <button class="button" [ngClass]="{'active': activeButton === 'allRequests'}" routerLink="/user-request-list"
      (click)="setActiveButton('allRequests')">
      <i class="ri-list-check"></i> All Requests
    </button>
    <button class="button" [ngClass]="{'active': activeButton === 'userRequest'}" routerLink="/user-create-request"
      (click)="setActiveButton('userRequest')">
      <i class="ri-user-line"></i> User Request
    </button>
  </div>

  <!-- <h1 class="title1">User Request</h1> -->

  <!-- User Request Section -->
  <div class="container">
    <h1 class="title1" style=" text-transform: uppercase;">User Request</h1>

    <div class="form-container">
      <form [formGroup]="supportRequestForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="subject" class="form-label" style="font-weight: bold;">Subject:</label>
          <input type="text" id="subject" formControlName="subject" class="form-control" required>
          <div *ngIf="supportRequestForm.controls['subject'].invalid && 
                      (supportRequestForm.controls['subject'].dirty || 
                      supportRequestForm.controls['subject'].touched)">
            <small class="text-danger" *ngIf="supportRequestForm.controls['subject'].errors?.required">
              Subject is required.
            </small>
            <small class="text-danger" *ngIf="supportRequestForm.get('subject')?.errors?.dirtyData">
              Subject does not contain invalid characters.
            </small>
            <small class="text-danger" *ngIf="supportRequestForm.controls['subject'].errors?.minlength">
              Subject must be at least 6 characters.
            </small>
            <small class="text-danger" *ngIf="supportRequestForm.controls['subject'].errors?.maxlength">
              Subject cannot be more than 20 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="description" class="form-label" style="font-weight: bold;">Description:</label>
          <textarea id="description" formControlName="description" class="form-control address-box" required
            placeholder="Please enter text" rows="2" ></textarea>
          <div *ngIf="supportRequestForm.controls['description'].invalid && 
                      (supportRequestForm.controls['description'].dirty || 
                      supportRequestForm.controls['description'].touched)">
            <small class="text-danger" *ngIf="supportRequestForm.controls['description'].errors?.required">
              Description is required.
            </small>
            <small class="text-danger" *ngIf="supportRequestForm.controls['description'].errors?.minlength">
              Description must be at least 6 characters.
            </small>
            <small class="text-danger" *ngIf="supportRequestForm.controls['description'].errors?.maxlength">
              Description cannot be more than 100 characters.
            </small>
          </div>
        </div>

        <div class="form-group button-container_2">
          <button type="submit" class="btn-primary">Create Request</button>
        </div>

        <div class="popup-overlay" *ngIf="popupMessage">
          <div class="popup" [ngClass]="popupType">
            <div class="popup-content">
              <div [class]="isSuccess ? 'icon' : 'icon1'" [innerHtml]="popupIcon"></div>
              <h2 [style.color]="textcolor">{{popupTitle}}</h2>
              <p [style.color]="textcolor" [style.fontSize.px]="20">{{popupMessage}}</p>
              <button [style.background-color]="textcolor" type="button" (click)="closePopup()">OK</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
