<app-bdm-navbar></app-bdm-navbar>
<div class="table-container">
  <div class="button-container">
    <button class="btn testers-btn">Testers</button>
    <button class="btn developers-btn">Developers</button>
  </div>
  <h2>Rejected Candidates</h2>
  <table class="details-table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Client Name</th>
        <th>Client Location</th>
        <th>Status</th>
        <th>Reason</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of rejectedDetails">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.clientName }}</td>
        <td>{{ employee.clientLocation }}</td>
        <td>{{ employee.status }}</td>
        <td>{{ employee.reason }}</td>
        <td>
          <button (click)="openDeleteModal(employee)" class="btn delete-btn">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
