 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<app-admin-navbar></app-admin-navbar>
<div class="db-main-content-area">
  <div class="container-fluid shadow-box">
    
    <div style="text-align: center;">

      <h1 class="title" style="font-size: x-large; ">Event list</h1>
    </div>

      <div class="box">
        <div style="margin-top: 20px;" class="button-container">
          <button  class="button" (click)="gotoEventCreate()">Event</button>
        </div>
        
          <div class="scrollable-table ">
                    <table class="table table-bordered table-striped table-sm">
            <thead  >
                <tr>
                    <th class="text-center" scope="col">Subject</th>
                    <th class="text-center" scope="col">Date and Time</th>
                    <th class="text-center" scope="col">Highlights</th>
                    <th class="text-center" scope="col">Actions</th>
                   
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of events">
              

                <td class="text-center"
                    (mousemove)="showTooltip(event, $event)"
                    (mouseleave)="hideTooltip()">
                  {{ event.subject }}
                </td>
                <td class="text-center">{{ event.dateTime }}</td>
                <td class="text-center">
                  <span *ngIf="isHighlighting(event.dateTime)" class="stars-container">
                    <span class="blinking-star">&#9733;</span>
                    <span class="blinking-star">&#9733;</span>
                    <span class="blinking-star">&#9733;</span>
                    <span class="blinking-star">&#9733;</span>
                    <span class="blinking-star">&#9733;</span>
                  </span>
                </td>
                <td class="text-center">
                  <a (click)="gotoEvent(event.eventId)" class="action-link">
                    <i class="fas fa-eye"></i> Open 
                  </a>
                  <a (click)="gotoEventUpdate(event.eventId)" class="action-link">
                    <i class="fas fa-edit"></i> Edit
                  </a>
                </td>
              </tr>
            </tbody>

        </table>

        

      </div>
    </div>
  </div>
  <!-- Tooltip container outside the table but within the main content area -->
  <div class="description-box" *ngIf="tooltipEvent">
    <!-- <p><strong>Subject:</strong> {{ tooltipEvent.subject }}</p> -->
    <p><strong>Description:</strong> {{ tooltipEvent.description }}</p>
    <!-- Add more event details as needed -->
  </div>
</div>
