@import "../admin-dashboard/admin-dashboard.component.scss";

  .button-container {
    display: flex; 
    gap: 10px;
  }
  .button {
    padding: 5px 10px;
    
    text-align: center;
    border-radius: 10px;
    background:  #357e04;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    
}

.button:hover {
    background: linear-gradient(135deg, #305c13, #a9ee50);
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

  a:hover{
    cursor: pointer;
    color: #1bbf72;
  }
  .action-link {
    margin-right: 15px; /* Adjust the gap between links */
    text-decoration: none; /* Remove underline from links */
    color: #007bff; /* Link color */
    font-size: 16px; /* Font size */
  }
  
  .action-link i {
    margin-right: 5px; /* Space between icon and text */
  }
  
  .action-link:hover {
    cursor: pointer;
    color: #1bbf72 /* Link color on hover */
  }
  .blinking-star {
    color: gold;
    font-size: 1.5em;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .highlight-row {
    background-color: #f9f9f9;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
   .table thead th {
    background-color: #adf1d2;
    color: #333;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  .table img {
    max-width: 50px;
    border-radius: 50%;
  }
  .description-box {
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #0a0707;
    z-index: 1000;
    white-space: nowrap;
    max-width: 200px; /* Adjust as needed */
    font-size: 14px;
    display: none; /* Hidden by default */
  }
.description-box p {
  margin: 0;
  font-size: 14px;
}
  