<app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
  <div class="container-fluid">

    <div style="text-align:left">
      <button class="button" routerLink="/admin-support-request">Goto All Request</button>
</div>
       <div class="db-my-profile-content" *ngIf="supportRequest">
      <h1 style=" font-size: larger;margin-bottom: 20px;margin-left: 70px;"> Request Details</h1>
      <ul>

        <li>
          <span>Ticket Id</span>
          :    {{supportRequest.ticketId}}
        </li>
        <li>
          <span>Subject </span>
          :    {{supportRequest.subject}}
        </li>
        <li>
          <span>Description</span>
          :    {{supportRequest.description}}
        </li>
        <li>
          <span>DateTime</span>
          :    {{supportRequest.dateTime}}
        </li>
        <li>
          <span>Posted By</span>
          :    {{supportRequest.postedBy}}
        </li>
        <li>
          <span>Status</span>
          : {{ supportRequest.status ? 'Not Solved' : 'Solved' }}
        </li>
      </ul>
    </div>
    <form [formGroup]="myForm">
      <label>Reply Message  </label>
      <input formControlName="textInput" class="large-input" placeholder="Enter text here" />
    </form>
    
    <div class="button-container">
      <button class="default-btn"  (click)="addText('We will take time')">We will take time</button>
      <button class="default-btn" (click)="addText('Contact to this number')">Contact to this number</button>
      <button class="default-btn" (click)="addText('Ok it will be solved soon')">Ok it will be solved in soon</button>
    </div>
    <div class="text-center">

      <button style="border-radius: 10px; "class="button" (click)="sendMsg()">send</button>
    </div>
    
  </div>
</div>
