<app-instructor-navbar></app-instructor-navbar>
<!-- Main Content -->

<div class="db-main-content-area">
    <div class="container-fluid">
        <div class="row1">
            <!-- <h5 class="centered">MY TEAMS</h5> -->
          </div>

        <div *ngIf="teams.length > 0" class="teams-container">
            <div *ngFor="let team of teams" class="team-box">
                <div (click)="viewTeam(team.teamName)">
                <h3 class="team-name" >{{ team.teamName }}</h3>
                <h4 *ngIf="team.course.length > 0">Course: {{ team.course[0].courseName }}</h4>
                <h4 *ngIf="team.course.length === 0">Course: None</h4>
                <h5>Number of employees: {{ team.employee.length }}</h5>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            </div>
                <ul class="action">

                    <li>
                        <!-- <button class="icon-btn delete-btn" (click)="openDeleteModal(team.teamName)">
                            <i class="fas fa-trash-alt"></i>
                        </button> -->
                       
                    </li>
                    <li>
                        <button class="icon-btn" (click)="openUpdateModal(team)">
                          <i></i> Edit
                        </button>
                      </li>
                      
                </ul>
            </div>
            
        </div>
        <div *ngIf="teams.length === 0" class="no-teams">
            No Teams Available.....!
        </div>
    </div>
</div>
<div class="navbar" [class.hidden]="showUpdateModal">

</div>
<div *ngIf="showUpdateModal" class="modal update-modal">
    <div class="modal-content">
      <span class="close" (click)="closeUpdateModal()">&times;</span>
      <h2>{{ teamForm.get('teamName')?.value }}</h2>
      <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" class="update-form">
        <div class="form-group">
          <label for="meetingLink">Meeting Link</label>
          <input
            id="meetingLink"
            formControlName="meetingLink"
            class="form-control"
            placeholder="Enter Meeting Link"
          />
        </div>
  
        <div formArrayName="employee" class="form-group">
          <label for="employeeId">Employees</label>
          <div *ngFor="let emp of employee.controls; let i = index" [formGroupName]="i" class="employee-input-group">
            <div class="input-container">
              <input
                id="employeeId{{ i }}"
                formControlName="employeeId"
                class="form-control employee-input"
                placeholder="Enter Employee ID"
              />
              <button
                type="button"
                class="btn btn-transparent"
                (click)="removeTeamMember(i)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
  
        <div class="form-group actions">
          <button
            type="button"
            class="btn btn-primary add-employee-btn"
            (click)="addTeamMember()"
          >
            <i ></i> Add Employee
          </button>
          <button type="submit" class="btn btn-success update-team-btn">
            <i></i> Update Team
          </button>
        </div>
      </form>
    </div>
  </div>
  
  

  


<!-- Delete Modal -->

<!-- Delete Popup -->
<!-- <div *ngIf="showDeleteModal" class="modal delete-modal">
    <div class="modal-content">
        <span class="close" (click)="closeDeleteModal()">&times;</span>
        <div class="delete-confirmation">
            <p>Are you sure you want to delete this item?</p>
            <div class="buttons">
                <button class="btn btn-danger" (click)="confirmDelete()">Yes</button>
                <button class="btn btn-secondary" (click)="closeDeleteModal()">No</button>
            </div>
        </div>
    </div>
</div> -->

  
  




<!-- Settings

        <div class="users-instructors">
            <div class="box">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user1.jpg" alt="Image">
                                        <span>Aaron Rossi</span>
                                    </div>
                                </td>
                                <td>aron@grammarlist.com</td>
                                <td><span class="pending">Pending</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user2.jpg" alt="Image">
                                        <span>Alina Smith</span>
                                    </div>
                                </td>
                                <td>alina@edon.com</td>
                                <td><span class="approved">Approved</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user3.jpg" alt="Image">
                                        <span>James Andy</span>
                                    </div>
                                </td>
                                <td>james@edon.com</td>
                                <td><span class="pending">Pending</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user4.jpg" alt="Image">
                                        <span>David Warner</span>
                                    </div>
                                </td>
                                <td>david@edon.com</td>
                                <td><span class="approved">Approved</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user5.jpg" alt="Image">
                                        <span>Sarah Taylor</span>
                                    </div>
                                </td>
                                <td>sarah@edon.com</td>
                                <td><span class="pending">Pending</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="assets/images/user/user6.jpg" alt="Image">
                                        <span>Kane Butler</span>
                                    </div>
                                </td>
                                <td>kane@edon.com</td>
                                <td><span class="canceled">Canceled</span></td>
                                <td>
                                    <button type="button"><i class="ri-check-line"></i></button>
                                    <button type="button"><i class="ri-close-line"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
