<app-instructor-navbar></app-instructor-navbar>
<!-- Main Content -->

<div class="db-main-content-area">
    <div class="container-fluid">
        <div class="row1">
            <!-- <h5 class="centered">MY TEAMS</h5> -->
          </div>

        <div *ngIf="teams.length > 0" class="teams-container">
            <div *ngFor="let team of teams" class="team-box">
                <div (click)="viewTeam(team.teamName)">
                <h3 class="team-name" >{{ team.teamName }}</h3>
                <h4 *ngIf="team.course.length > 0">Course: {{ team.course[0].courseName }}</h4>
                <h4 *ngIf="team.course.length === 0">Course: None</h4>
                <h5>Number of employees: {{ team.employee.length }}</h5>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            </div>
                <ul class="action">

                    <li>
                        <!-- <button class="icon-btn delete-btn" (click)="openDeleteModal(team.teamName)">
                            <i class="fas fa-trash-alt"></i>
                        </button> -->
                       
                    </li>
                    <li>
                        <button class="icon-btn" (click)="openUpdateModal(team)">
                          <i></i> Edit
                        </button>
                      </li>
                      
                </ul>
            </div>
            
        </div>
        <div *ngIf="teams.length === 0" class="no-teams">
            No Teams Available.....!
        </div>
    </div>
</div>
<div class="navbar" [class.hidden]="showUpdateModal">

</div>
<div *ngIf="showUpdateModal" class="modal update-modal">
    <div class="modal-content">
      <span class="close" (click)="closeUpdateModal()">&times;</span>
      <h2>{{ teamForm.get('teamName')?.value }}</h2>
      <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" class="update-form">
        <div class="form-group">
          <label for="meetingLink">Meeting Link</label>
          <input
            id="meetingLink"
            formControlName="meetingLink"
            class="form-control"
            placeholder="Enter Meeting Link"
          />
        </div>
  
        <div formArrayName="employee" class="form-group">
          <label for="employeeId">Employees</label>
          <div *ngFor="let emp of employee.controls; let i = index" [formGroupName]="i" class="employee-input-group">
            <div class="input-container">
              <input
                id="employeeId{{ i }}"
                formControlName="employeeId"
                class="form-control employee-input"
                placeholder="Enter Employee ID"
              />
              <button
                type="button"
                class="btn btn-transparent"
                (click)="removeTeamMember(i)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
  
        <div class="form-group actions">
          <button
            type="button"
            class="btn btn-primary add-employee-btn"
            (click)="addTeamMember()"
          >
            <i ></i> Add Employee
          </button>
          <button type="submit" class="btn btn-success update-team-btn">
            <i></i> Update Team
          </button>
        </div>
      </form>
    </div>
  </div>
  
  
