@import "../admin-dashboard/admin-dashboard.component.scss";



  .button-container {
    display: flex; 
    gap: 10px;
  }
  .button {
    padding: 5px 10px;
    background-color: #1bbf72; 
    color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 5px
  }
  
  .button:hover {
    background-color: #1bbf92;
  }
  .button-container .button {
    text-align: center;
    border-radius: 5px;
    padding: 5px;
  }
  
  .button-container .active {
    background-color: #3b98fc; /* Or any color you want for the active button */
    color: white;
  }
  
.table-sm td,
.table-sm th {
  padding: 0.5rem; /* Compact padding */
  font-size: 0.875rem; /* Smaller text for compact view */
}

.table-bordered {
  border: 1px solid #dee2e6; /* Subtle border */
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6; /* Consistent cell borders */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9; /* Subtle striping for better readability */
}

.table-hover tbody tr:hover {
  background-color: #e9ecef; /* Highlight row on hover */
}
.table-bordered th {
  background-color: #1bbf72; 
}
.img-thumbnail {
  border: none; /* Remove border from thumbnail images */
}
  .employee-details-box {
    position: fixed;
    top: 20%;
    right: 20px;
    width: 300px;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .employee-details-box .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .table td, .table th {
    vertical-align: middle;
  }
  
  .img-thumbnail {
    border-radius: 50%;
  }
  .shadow-box {
    background: #fff; /* White background */
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Page shadow */
    border-radius: 8px;
    margin: 20px auto; /* Center the container */
    max-width: 90%; /* Limit the max-width */
}
.scrollable-table {
  max-height: 300px; /* Adjust this value based on your layout */
  overflow-y: auto;  /* Enable vertical scrolling */
}

.scrollable-table table {
  width: 100%; /* Ensure the table takes full width of the container */

}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  display: inline-block; /* Ensures underline is only as wide as the text */
  
  
}

.title::before {
  content: "";
  position: absolute;
  left: -6px;
  bottom: 0;
  height: 3px;
  width: 136px;
  border-radius: 5px;
  background: linear-gradient(135deg, #68ee0f, #89e018);
}

