<app-active-course></app-active-course>
<div class="center-container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Task Date</th>
                    <th scope="col">Finish Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td>
                        <div class="d-flex align-items-center">
                            <span>{{ task.description }}</span>
                        </div>
                    </td>
                    <td>{{ task.startDate }}</td>
                    <td>{{ task.endDate }}</td>
                    <td>
                        <span
                            [ngClass]="{'text-success': task.status === 'Completed', 'text-danger': task.status !== 'Completed'}">
                            {{ task.status }}
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-custom" [ngClass]="{'btn-success': task.status !== 'Completed', 'btn-danger': task.status === 'Completed'}" (click)="showModal(task)">
                            {{ task.status === 'Completed' ? 'Incomplete' : 'Complete' }}
                        </button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal" [ngClass]="{'show': isModalVisible}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>{{ modalMessage }}</p>
        <div>
            <button type="button" (click)="markTaskCompleted()">
                <i class="bi bi-check-square"></i>
            </button>
            <button type="button" (click)="markTaskIncomplete()">
                <i class="bi bi-x-square"></i>
            </button>
           
        </div>
    </div>
</div>