<app-user-navbar></app-user-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">


        <div class="db-my-profile-content">
            <ul>
                <li>
                    <span>Employee Id</span>
                    : {{employee.employeeId}}
                </li>
                <li>
                    <span>First Name</span>
                    : {{employee.firstName}}
                </li>
                <li>
                    <span>Last Name</span>
                    : {{employee.lastName}}
                </li>
                <li>
                    <span>Address</span>
                    : {{employee.address}}

                </li>

                <li>
                    <span>Employee Email</span>
                    : {{employee.employeeEmail}}

                </li>

                <!-- <li>

                    <span>Employee Email</span>
                    : {{employee.employeeEmail}}

                    <span>Password</span>
                    : {{employee.employeePassword}}
                </li> -->
                <li>
                    <span>Web Mail</span>
                    <a href="mailto:thomas@edon.com">: {{employee.webMail}}</a>

                </li>
                <!-- <li>
                    <span>Password</span>
                    : {{employee.employeePassword}}
                </li> -->
                <!-- <li>
                    <span>Web Mail</span>
                    <a href="mailto:thomas@edon.com">: {{employee.webMail}}</a>
                </li> -->
                <!-- <li>
                    <span>Web Mail Password</span>
                    <a href="mailto:thomas@edon.com">: {{employee.webMailPassword}}</a>
                </li> -->
                <li>
                    <span>Password</span>
                    <a href="mailto:thomas@edon.com">: {{employee.webMailPassword}}</a>
                </li>
                <li>
                    <span>Phone Number</span>
                    <a href="tel:+1(135)-1984-2020">: {{employee.phoneNumber}}</a>
                </li>
                <!-- <li>
                    <span>Website</span>
                    <a href="#" target="_blank">: https://edon.com/</a>
                </li> -->
                <!-- <li>
                    <span>Language</span>
                    : English
                </li> -->
                <!-- <li>
                    <span>Biography</span>
                    <p>: Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut
                        lacinia in, elementum id enim. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta
                        dapibus.Proin eget tortor risus. Proin eget tortor risus. Praesent sapien massa, convallis a
                        pellentesque nec, </p> -->

                <!-- <p>: {{employee?.biography}}</p> -->

                    <!-- <p>: {{employee?.biography}}</p> -->

                <!-- </li> -->
            </ul>
        </div>
    </div>
</div>