<app-user-navbar></app-user-navbar>
<div class="db-main-content-area">
  <div class="container-fluid">
    <div class="table-wrapper">
      <div class="textcenter">
        <h2 class="table-title">Employee Details</h2>
      </div>
      <table class="db-my-profile-content shadowed-form">
        <tr>
          <th>Employee Id</th>
          <td>{{ employee.employeeId }}</td>
        </tr>
        <tr>
          <th>First Name</th>
          <td>{{ employee.firstName }}</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{ employee.lastName }}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{ employee.address }}</td>
        </tr>
        <tr>
          <th>WebMail</th>
          <td>{{ employee.webMail }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ employee.employeeEmail }}</td>
        </tr>
        <tr>
          <th>Phone Number</th>
          <td>{{ employee.phoneNumber }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
