
<app-admin-navbar></app-admin-navbar>

<div class="body">
  <div class="container">
    <div class="title">Add Team</div>
    <div class="content">
      <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">

        <!-- Team Name -->
        <div class="form-group">
          <label for="teamName" class="form-label">Team Name</label>
          <input id="teamName" type="text" class="form-control" formControlName="teamName">
        </div>

        <!-- Course Name -->
        <div class="form-group">
          <div formArrayName="course">
            <div *ngFor="let cr of course.controls; let i = index" [formGroupName]="i" class="form-group">
              <label for="courseName" class="form-label">Course Name</label>
              <div class="select-wrapper">
                <select id="courseName{{i}}" class="form-control" formControlName="courseName">
                  <option value="" disabled>Select a course</option>
                  <option *ngFor="let c of courses" [value]="c.courseName">{{ c.courseName }}</option>
                </select>
                <!-- The dropdown arrow (using an icon or symbol) -->
                <i class="dropdown-icon"></i>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Meeting Link -->
        <div class="form-group">
          <label for="meetingLink" class="form-label">Meeting Link</label>
          <input id="meetingLink" type="text" class="form-control" formControlName="meetingLink">
        </div>

        <!-- Employee ID List -->
        <div class="form-group">
          <div formArrayName="employee">
            <div *ngFor="let emp of employee.controls; let i = index" [formGroupName]="i" class="form-group">
              <label for="employeeId{{i}}" class="form-label">Employee ID</label>
              <div class="input-container">
                <input id="employeeId{{i}}" type="text" class="form-control" formControlName="employeeId">
                <button type="button" class="btn delete-button" (click)="removeEmployee(i)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Add Employee Button -->
        <div class="button">
          <button type="button" class="btn btn-success btn-block" (click)="addTeamMember()">
            <i class="ri-add-circle-line"></i> Add Employee
          </button>
        </div>

        <!-- Submit Button -->
        <div class="button">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="teamForm.invalid">Add Team</button>
        </div>

      </form>
    </div>
  </div>
</div>
