// Navbar styles
.db-navbar {
    background-color: rgba(253, 252, 252, 0.9);
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  
    .navbar-brand img {
      width: 200px;
      height: auto;
    }
  
    h3 {
      font-size: 25px;
      margin: 0;
      color: var(--primaryColor);
    }
  
    .db-others-option {
      display: flex;
      align-items: center;
      list-style: none;
  
      li {
        position: relative;
        margin-left: 30px;
  
        a {
          color: var(--paragraphColor);
          transition: color 0.3s;
  
          &:hover {
            color: var(--primaryColor);
          }
        }
  
        .db-option {
          img {
            max-width: 40px;
            border-radius: 50%;
          }
  
          .dropdown-toggle {
            display: flex;
            align-items: center;
            color: var(--paragraphColor);
            background-color: transparent;
  
            &:hover {
              color: var(--primaryColor);
            }
          }
  
          .dropdown-menu {
            right: 0;
            top: 100%;
            padding: 8px 0;
            background-color: var(--whiteColor);
            border-radius: 8px;
            box-shadow: var(--boxShadow);
            display: none;
            position: absolute;
  
            .upload-wrapper {
              display: flex;
              justify-content: center;
              padding: 10px;
            }
          }
  
          &.active .dropdown-menu {
            display: block;
          }
        }
      }
    }
  }
  
  // Sidebar styles
  .db-left-sidebar-area {
    background: rgba(252, 253, 252, 0.9);
    max-width: 250px;
    padding: 20px 0;
    position: fixed;
    height: 100vh;
    overflow: auto;
    z-index: 5;
    top: 81px;
    left: 0;
    transition: var(--transition);
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        a {
          display: block;
          padding: 15px 24px;
          font-size: var(--fontSize);
          position: relative;
          transition: background-color 0.3s;
  
          &:hover {
            background: rgba(135, 33, 248, 0.1);
            color: var(--primaryColor);
          }
  
          &.active {
            color: var(--primaryColor);
          }
        }
      }
    }
  
    &.active {
      left: 0;
    }
  }
  
  // Responsive styles for mobile view
  @media (max-width: 767px) {
    .db-navbar h3 {
      display: none;
    }
  
    .navbar-toggler {
      display: block;
    }
  
    .db-left-sidebar-area {
      width: 270px;
      height: 100vh;
      display: none;
  
      &.active {
        display: block;
      }
    }
  }
  
  // Time display
  .time-display {
    position: absolute;
    top: 15px;
    right: 190px;
    background: rgba(70, 209, 75, 0.8);
    color: #ffffff;
    padding: 6px 22px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  