@import "../admin-dashboard/admin-dashboard.component.scss";
@import "../../common/courses/courses.component.scss";

.single-course-item {
    .courses-content {
        .status {
            margin-bottom: 0;
        }
    }
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.progress-container {
    width: 100%;
    max-width: 600px;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
}
.progress-bar {
    height: 30px;
    width: 0;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px 0 0 25px;
    transition: width 0.3s ease, background-color 0.3s ease;
    position: relative;
    z-index: 1;
}
.progress-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    z-index: 2;
}
@import "../admin-dashboard/admin-dashboard.component.scss";

.popup {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  .popup-content {
	background: white;
	padding: 30px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	animation: fadeIn 0.3s ease;
  }
  
  .popup-content img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
  }
  
  .popup-content h2 {
	margin: 10px 0;
	font-size: 24px;
	color: #1bbf72;
  }
  
  .popup-content p {
	margin: 10px 0;
	font-size: 18px;
	color: #1bbf72;
  }
  
  .popup-content button {
	margin-top: 20px;
	padding: 10px 20px;
	background: #1bbf72;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
  }
  
  .popup-content button:hover {
	background: #1bbf72;
	border-radius: 4px;
  }
  .icon {
    font-size: 50px;
    color: #1bbf72;
    margin-right: 10px;
}
.icon1 {
    font-size: 50px;
    color:red;
    margin-right: 10px;
}