<app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">


        <div class="db-enrolled-settings-form">
            <div class="row">

           
                    <form [formGroup]="updateForm" >
                        <h3 style="text-align: center;">My Information</h3>

                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName">
                                </div>
                                 <div
                                *ngIf="updateForm.controls['firstName'].invalid && (updateForm.controls['firstName'].dirty || updateForm.controls['firstName'].touched)">
                                <small class="text-danger" *ngIf="updateForm.controls['firstName'].errors?.required">
                                    FirstName is required.</small>
                            </div>

                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName">
                                </div>
                                 <div
                                *ngIf="updateForm.controls['lastName'].invalid && (updateForm.controls['lastName'].dirty || updateForm.controls['lastName'].touched)">
                                <small class="text-danger" *ngIf="updateForm.controls['lastName'].errors?.required">
                                    LastName is required.</small>
                            </div> 

                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control" id="address" name="address" formControlName="address">
                                </div>
                                 <div
                                *ngIf="updateForm.controls['address'].invalid && (updateForm.controls['address'].dirty || updateForm.controls['address'].touched)">
                                <small class="text-danger"
                                    *ngIf="updateForm.controls['address'].errors?.required">Address is
                                    required.</small>
                            </div>

                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label>Employee Email</label>
                                    <input type="email" class="form-control" id="employeeEmail" name="employeeEmail" formControlName="employeeEmail" (keyup)="validateEmail()">
                                </div>
                                <div
                                *ngIf="updateForm.controls['employeeEmail'].invalid && (updateForm.controls['employeeEmail'].dirty || updateForm.controls['employeeEmail'].touched)">
                                <small class="text-danger"
                                    *ngIf="updateForm.controls['employeeEmail'].errors?.required">Email is
                                    required.</small> 
                                <small class="text-danger"
                                    *ngIf="updateForm.controls['employeeEmail'].errors?.email">Invalid email
                                    format.</small>

                            </div>
                            <div class="text-danger"
                                    *ngIf="emailStatus">Email is
                                    Already existed, please try with another</div>
                        
                            
 
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber"  
                                     (keyup)="validatePhoneNumber()">
                                    
                                </div>
                                <div
                                *ngIf="updateForm.controls['phoneNumber'].invalid && (updateForm.controls['phoneNumber'].dirty || updateForm.controls['phoneNumber'].touched)">

                               
                                     <small class="text-danger" *ngIf="updateForm.controls['phoneNumber'].errors?.required">
                                      Phone number is required.
                                    </small>
                                    <small class="text-danger" *ngIf="updateForm.controls['phoneNumber'].errors?.pattern">
                                      Phone number must be 10 digits following '+91'.
                                    </small>
                                  </div>
                                  <div class="text-danger"
                            *ngIf="phoneNumberStatus">PhoneNumber is
                            Already existed, please try with another</div>
                            </div>
                        
                                <div class="col-12">
                                    
                                    <div class="form-group">
                                        <div class="button-container">

                                            <button type="submit" [disabled]="(updateForm.invalid)||(emailStatus)||(phoneNumberStatus)" style="border-radius: 5px;" class="default-btn" (click)="updateAdminDetails()" >Update Profile</button>
                                        </div>
                                    </div>
                                
                            </div>
                            
                        </div>
                    </form>
                
            </div>
            <div class="row">
                <form [formGroup]="resetPasswordForm" >
                    <h3 style="text-align: center;">Reset Password</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" name="currentPassword" id="currentPassword" class="form-control"
                                    formControlName="currentPassword">
                                  
                            </div>
                            <div
                            *ngIf="resetPasswordForm.controls['currentPassword'].invalid && (resetPasswordForm.controls['currentPassword'].dirty || resetPasswordForm.controls['currentPassword'].touched)">

                           
                                 <small class="text-danger" *ngIf="resetPasswordForm.controls['currentPassword'].errors?.required">
                                  CurrentPassword is required.
                                </small>
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                               
                                     <input  type="password" class="form-control" id="newPassword" name="newPassword" id="newPassword"
                                    formControlName="newPassword"  (keyup)="validatePassword()">
                                    <div class="password-icon" (click)="togglePassword(1)"
                                    (keydown.enter)="togglePassword(1)" tabindex="0">
                                    <span class="fas toggle-password"
                                        [ngClass]="hidePassword[1] ? 'fa-eye' : 'fa-eye-slash'"></span>
                                </div> 

                                <div
                                *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)">
                        <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')"
                        style="color: red;">Password is required</div>
                        <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')"
                        style="color: red;">Password must be at least 8 characters long</div>
                        
                        <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('pattern')"
                        style="color: red;">Password must contain at least one uppercase letter, one
                        lowercase letter, one number, and one special character</div>
                    </div>
                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="confirmPassword">Confirm New Password</label>
                                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                                    formControlName="confirmPassword"> 
                                    
                                </div>
                        </div>
                        <div
                        *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)">
                        <small class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')"
                            style="color: red;">Confirm Password is required</small>
                            <small class="text-danger" style="color: red;"
                            *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.mismatch " >New Password
                           and confirmPassword must be same.</small>
                    </div>
                    
                    </div>
                
                            
                             <div class="form-group">
                                
                                <div class="button-container">

                                    <button type="submit" [disabled]="resetPasswordForm.invalid" style="border-radius: 5px;" class="default-btn" (click)="resetPassword()">Reset Password</button>
                                </div>
                            </div> 
                        
                    

                    <div class="popup" *ngIf="popupMessage" [ngClass]="popupType">
                        <div class="popup-content">
                            <div [class]="isSuccess ? 'icon' : 'icon1'" [innerHtml]="popupIcon"></div>
                            <h2 [style.color]="textcolor">{{popupTitle}}</h2>
                            <p [style.color]="textcolor" [style.fontSize.px]="20">{{popupMessage}}</p>
                            <button [style.background-color]="textcolor" type="button" (click)="closePopup()">OK</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
