<app-admin-navbar></app-admin-navbar>
<div class="db-main-content-area">
  <div class="container-fluid">

    <div class="db-enrolled-settings-form">
      <div class="body">
        <div class="container">
          <div class="title1">Update Information</div>


          <form [formGroup]="employeeForm" (ngSubmit)="updateEmployee()">
            <div class="form-layout">


              <div class="row1">
                <div class="third-width">
                  <div class="form-group">
                    <label class="form-label" for="firstName">First Name</label>
                    <input id="firstName" type="text" class="form-control" formControlName="firstName">
                  </div>
                  <div
                    *ngIf="employeeForm.controls['firstName'].invalid && (employeeForm.controls['firstName'].dirty || employeeForm.controls['firstName'].touched)">
                    <small class="text-danger" *ngIf="employeeForm.controls['firstName'].errors?.required">
                      FirstName is required.</small>
                      <small class="text-danger" *ngIf="employeeForm.controls['firstName'].errors?.minlength">
                        First Name must be at least 6 characters.
                      </small>
                      <small class="text-danger" *ngIf="employeeForm.controls['firstName'].errors?.maxlength">
                        First Name cannot be more than 15 characters.
                      </small>
                  </div>
                </div>
                <div class="third-width">
                  <div class="form-group">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input id="lastName" type="text" class="form-control" formControlName="lastName">
                  </div>
                  <div
                    *ngIf="employeeForm.controls['lastName'].invalid && (employeeForm.controls['lastName'].dirty || employeeForm.controls['lastName'].touched)">
                    <small class="text-danger" *ngIf="employeeForm.controls['lastName'].errors?.required">
                      LastName is required.</small>
                      <small class="text-danger" *ngIf="employeeForm.controls['lastName'].errors?.minlength">
                        LastName must be at least 6 characters.
                      </small>
                      <small class="text-danger" *ngIf="employeeForm.controls['lastName'].errors?.maxlength">
                        LastName cannot be more than 15 characters.
                      </small>
                  </div>
                </div>
                <div class="third-width">
                  <div class="form-group">
                    <label class="form-label" for="employeeEmail">Employee Email</label>

                    <input id="employeeEmail" type="email" class="form-control" (click)="validateEmail()"
                      formControlName="employeeEmail">

                  </div>
                  <div
                    *ngIf="employeeForm.controls['employeeEmail'].invalid && (employeeForm.controls['employeeEmail'].dirty || employeeForm.controls['employeeEmail'].touched)">
                    <small class="text-danger" *ngIf="employeeForm.controls['employeeEmail'].errors?.required">Email is
                      required.</small>
                    <small class="text-danger" *ngIf="employeeForm.controls['employeeEmail'].errors?.email">Invalid
                      email
                      format.</small>
                  </div>
                  <div class="text-danger" *ngIf="emailStatus">Email is
                    Already existed, please try with another</div>

                </div>
              </div>


              <div class="form-group">
                <label class="form-label" for="address">Address</label>
                <textarea id="address" class="form-control address-box" formControlName="address"
                  placeholder="Please enter address here"></textarea>
              </div>
              <div
                *ngIf="employeeForm.controls['address'].invalid && (employeeForm.controls['address'].dirty || employeeForm.controls['address'].touched)">
                <small class="text-danger" *ngIf="employeeForm.controls['address'].errors?.required">Address is
                  required.</small>
              </div>


              <div class="form-group">
                <label class="form-label" for="phoneNumber">Phone Number</label>
                <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber"
                (keydown)="onPhoneNumberKeydown($event)" (input)="onPhoneNumberInput($event)"
                  (click)="validatePhoneNumber()">
              </div>
              <div
                *ngIf="employeeForm.controls['phoneNumber'].invalid && (employeeForm.controls['phoneNumber'].dirty || employeeForm.controls['phoneNumber'].touched)">


                <small class="text-danger" *ngIf="employeeForm.controls['phoneNumber'].errors?.required">
                  Phone number is required.
                </small>
                <small class="text-danger" *ngIf="employeeForm.controls['phoneNumber'].errors?.pattern">
                  Phone number must be 10 digits following '+91'.
                </small>
              </div>
              <div class="text-danger" *ngIf="phoneNumberStatus">PhoneNumber is
                Already existed, please try with another</div>



              <div style="text-align: center;">
                <button type="submit" class="button">Update Profile</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="full">
        <div class="body">
          <div class="container">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
              <div class="title">Reset Password</div>
              <div class="row">
                <div class="col-lg-4 col-md-12">
                  <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" name="currentPassword" id="currentPassword" class="form-control"
                      formControlName="currentPassword" />
                    <div
                      *ngIf="resetPasswordForm.get('currentPassword')?.touched && resetPasswordForm.get('currentPassword')?.invalid">
                      <small class="text-danger" *ngIf="resetPasswordForm.get('currentPassword')?.hasError('required')">
                        Current password is required.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control"
                      formControlName="newPassword" />
                    <div
                      *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid">
                      <small class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
                        New password is required.
                      </small>
                      <small class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
                        New password must be at least 8 characters long.
                      </small>
                      <small class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.hasError('pattern')">
                        New password must contain at least one uppercase letter and one numeric digit.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="form-group">
                    <label for="confirmPassword">Confirm New Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                      formControlName="confirmPassword" />
                    <div
                      *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.invalid">
                      <small class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
                        Confirm new password is required.
                      </small>
                      <small class="text-danger" *ngIf="resetPasswordForm.hasError('mismatch')">
                        New password and confirm new password must be the same.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div style="text-align: center;">
                    <button type="submit" class="button">Reset Password</button>
                  </div>
                </div>
              </div>

              <div class="popup-overlay" *ngIf="popupMessage">
                <div class="popup" [ngClass]="popupType">
                  <div class="popup-content">
                    <!-- <img [src]="popupIcon" alt="Popup Icon"> -->
                    <div [class]="isSuccess ? 'icon' : 'icon1'" [innerHtml]="popupIcon"></div>
                    <h2 [style.color]="textcolor">{{popupTitle}}</h2>
                    <p [style.color]="textcolor" [style.fontSize.px]="20">{{popupMessage}}</p>
                    <button [style.background-color]="textcolor" type="button" (click)="closePopup()">OK</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>