<app-bdm-navbar></app-bdm-navbar>
<div class="employee-status-table">
  <table>
    <thead>
      <tr>
        <th>Good Employees</th>
        <th>Average Employees</th>
        <th>Poor Employees</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul *ngIf="goodEmployees.length > 0">
            <li *ngFor="let good of goodEmployees">
              {{ good.employee.employeeId }} - {{ good.employee.firstName }} {{ good.employee.lastName }}
            </li>
          </ul>
          <p *ngIf="goodEmployees.length === 0">No Good Employees</p>
        </td>
        <td>
          <ul *ngIf="averageEmployees.length > 0">
            <li *ngFor="let average of averageEmployees">
              {{ average.employee.employeeId }} -  {{ average.employee.firstName }} {{ average.employee.lastName }}
            </li>
          </ul>
          <p *ngIf="averageEmployees.length === 0">No Average Employees</p>
        </td>
        <td>
          <ul *ngIf="poorEmployees.length > 0">
            <li *ngFor="let poor of poorEmployees">
              {{ poor.employee.employeeId }} -  {{ poor.employee.firstName }} {{ poor.employee.lastName }}
            </li>
          </ul>
          <p *ngIf="poorEmployees.length === 0">No Poor Employees</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>


