<app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">

        <!-- Add a wrapper to separate the navbar and carousel content -->
         <div class="carousel-wrapper">
            <div class="related-courses-slider">
                <owl-carousel-o [options]="relatedCoursesSlides">
                    <ng-template carouselSlide>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-6" (click)="navigateToCourses()">
                            <div class="db-single-courses">
                                <i class="ri-book-open-line"></i>
                                <h2>{{totalCourses}}</h2>
                                <span>Total Courses</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-6" (click)="navigateToTeamLeads()">
                            <div class="db-single-courses">
                                <i class="ri-user-star-fill"></i>
                                <h2>{{totalTeamLeads}}</h2>
                                <p>{{totalEmployees}}</p>
                                <span>Total Instructors</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-6" (click)="navigateToDevelopers()">
                            <div class="db-single-courses">
                                <i class="bi bi-file-code"></i>
                                <h2>{{totalDevelopers}}</h2>
                                <span>Total Developers</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-6" (click)="navigateToTesters()">
                            <div class="db-single-courses">
                                <i class="ri-shield-user-line"></i>
                                <h2>{{totalTesters}}</h2>
                                <span>Total Testers</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-6" (click)="navigateToTeams()">
                            <div class="db-single-courses">
                                <i class="ri-book-open-line"></i>
                                <h2>{{totalTeams}}</h2>
                                <span>Total Teams</span>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>

        <div class="users-instructors">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="box">
                                      

                                          <h3 class="text-center">Recent Users</h3>
                                           
                
                            <div class="scrollable-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">DateOfJoin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let emp of employees">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <button type="button" (click)="switcherToggleClass()">
                                                    <img [src]="emp.photoUrl" alt="Image">
                                                </button>
                                                <span>{{emp.firstName}}{{emp.lastName}}</span>
                                            </div>
                                        </td>
                                        <td>{{emp.employeeEmail}}</td>
                                        <td>{{emp.dateOfJoin}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="box">
                        <h3 class="text-center">Recent Instructors</h3>
                        
                            <div class="scrollable-table ">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">DateOfJoin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let emp of teamLeads">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <button type="button" (click)="switcherToggleClass()">
                                                    <img [src]="emp.photoUrl" alt="Image">
                                                </button>
                                                <span>{{emp.firstName}}{{emp.lastName}}</span>
                                            </div>
                                        </td>
                                        <td>{{emp.employeeEmail}}</td>
                                        <td>{{emp.dateOfJoin}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
