
<!-- <nav class="db-navbar navbar navbar-light bg-light">
    <div class="container-fluid">
        <a routerLink="/user-dashboard" class="navbar-brand me-0">
            <img src="/assets/images/w3-logo.png" alt="Image">
        </a>
        <div class="row">
            <h3 class="centered">BDM DASHBOARD</h3>
        </div>

        <button class="navbar-toggler" type="button" (click)="sidebarSwitcherToggleClass()">
            <span class="burger-menu">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </span>
        </button>
        <ul class="db-others-option d-flex mb-0 align-items-center">
            <li class="db-dropdown">
                <div class="db-option" [class.active]="switcherClassApplied">
                    <button class="dropdown-toggle" type="button" (click)="switcherToggleClass()">
                        <img [src]="photoUrl" alt="Image">
                    </button>
                    <div class="dropdown-menu">
                        <div class="upload-wrapper">
                            <label for="image" class="upload-label">
                                <i class="feather icon-upload me-2"></i>Update Image
                            </label>
                            <input type="file" id="image" (change)="onFileSelected($event)"
                                accept="image/jpeg, image/png">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="time-display">
            {{ currentTime }}
        </div>
    </div>
</nav>


<div class="db-left-sidebar-area" [class.active]="sidebarSwitcherClassApplied">
    <ul>
        <li><a routerLink="/bdm-client" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                    class="ri-user-line"></i> Clients</a></li>
        <li><a routerLink="/bdm-deal" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                    class="ri-history-fill"></i> Employees</a></li>
        <li><a routerLink="/bdm-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                    class="ri-history-fill"></i> Deployment Process</a></li>
        <li><a routerLink="/bdm-information" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                    class="ri-money-dollar-box-line"></i>Deployment Details</a></li>



        <li><a routerLink="/bdm-setting" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                    class="ri-settings-3-line"></i> Settings</a></li>
        <li><a routerLink="/" (click)="logout()"><i class="ri-logout-circle-r-line"></i> Logout</a></li>
    </ul>


    <button class="navbar-toggler" type="button" (click)="sidebarSwitcherToggleClass()">
        <span class="burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </span>
    </button>
</div> -->




<!-- <nav class="db-navbar navbar">
    <div class="container-fluid" >
      <a routerLink="/user-dashboard" class="navbar-brand me-0">
        <img src="/assets/images/w3-logo.png" alt="Image">
      </a>

      <div class="row">
        <h3 class="centered">{{ pageTitle }}</h3>
      </div>
      
  
      <button class="navbar-toggler" type="button" (click)="sidebarSwitcherToggleClass()">
        <span class="burger-menu">
          <span class="top-bar"></span>
          <span class="middle-bar"></span>
          <span class="bottom-bar"></span>
        </span>
      </button>
  
      <ul class="db-others-option d-flex mb-0 align-items-center">
        <li class="db-dropdown">
          <div class="db-option" [class.active]="switcherClassApplied">
            <button class="dropdown-toggle" type="button" (click)="switcherToggleClass()">
              <img [src]="photoUrl" alt="Image">
            </button>
            <div class="dropdown-menu">
              <div class="upload-wrapper">
                <label for="image" class="upload-label">
                  <i class="feather icon-upload me-2"></i>Update Image
                </label>
                <input type="file" id="image" (change)="onFileSelected($event)" accept="image/jpeg, image/png">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav> -->



  <nav class="db-navbar navbar">
    <div class="container-fluid">
      <a routerLink="/user-dashboard" class="navbar-brand me-0">
        <img src="/assets/images/w3-logo.png" alt="Image">
      </a>
  
      <div class="row">
        <h3 class="centered">BDM Admin Dashboard</h3>
    </div>

      <button class="navbar-toggler" type="button" (click)="sidebarSwitcherToggleClass()">
        <span class="burger-menu">
          <span class="top-bar"></span>
          <span class="middle-bar"></span>
          <span class="bottom-bar"></span>
        </span>
      </button>
  
      <ul class="db-others-option d-flex mb-0 align-items-center">
        <li class="db-dropdown">
          <div class="db-option" [class.active]="switcherClassApplied">
            <button class="dropdown-toggle d-flex align-items-center" type="button" (click)="switcherToggleClass()">
  
              <img [src]="photoUrl || '/assets/images/user1.jpg'" alt="Profile" class="profile-photo rounded-circle me-2">
              <div *ngIf="fullName">
                <span [ngClass]="{'active-name': switcherClassApplied, 'font-weight-bold': true, }" class="me-2">
                  {{ fullName }}
                </span>
  
              </div>
  
            </button>
  
            <div class="dropdown-menu">
              <a class="dropdown-item" style="font-weight: bold;">
                <i class="fas fa-id-badge me-2"></i> ID : {{ employeeId }}
              </a>
  
              <a class="dropdown-item text-danger" href="javascript:void(0);" (click)="openModal()"
                style="font-weight: bold;">
                <i class="fas fa-sign-out-alt me-2"></i> Logout
              </a>
            </div>
  
          </div>
        </li>
      </ul>
  
    </div>
  </nav>
  
  
  
  <div class="db-left-sidebar-area" [class.active]="sidebarSwitcherClassApplied">
    <ul class="sidebar-nav">
      <li>
        <li class="has-submenu">
          <a class="submenu-toggle" (click)="toggleSubMenu($event)">
            <i class="ri-git-branch-line" style="color: black;"></i>Clients
            <span [ngClass]="{'rotate': submenuOpen}" class="submenu-icon ri-arrow-down-s-line"></span>
          </a>
          <ul style=" margin-left: 25px;" class="submenu"
            [ngClass]="{'active': submenuOpen || isActiveRoute(['/bdm-client', '/bdm-clienthistory'])}">
            <li><a routerLink="/bdm-client" routerLinkActive="active" (click)="$event.stopPropagation()">
                <i class="ri-task-line" style="color: black;"></i>
                Registration</a></li>

                <li><a routerLink="/bdm-clienthistory" routerLinkActive="active" (click)="$event.stopPropagation()">
                  <i class="ri-information-line" style="color: black;"></i>
                 History </a></li>
                  
          </ul>
        </li>
    
  
      <li>
        <a routerLink="/bdm-deal" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="ri-history-fill" style="color: black;"></i> Employees
        </a>
      </li>
  
      <li class="has-submenu">
        <a class="submenu-toggle" (click)="toggleSubMenu($event)">
          <i class="ri-git-branch-line" style="color: black;"></i>Deployment
          <span [ngClass]="{'rotate': submenuOpen}" class="submenu-icon ri-arrow-down-s-line"></span>
        </a>
        <ul style=" margin-left: 25px;" class="submenu"
          [ngClass]="{'active': submenuOpen || isActiveRoute(['/bdm-details', '/bdm-information','/bdm-deploymentstatus','/bdm-rejectedcandiates'])}">
          <li><a routerLink="/bdm-details" routerLinkActive="active" (click)="$event.stopPropagation()">
              <i class="ri-task-line" style="color: black;"></i>
              Deployment Process</a></li>
              <li><a routerLink="/bdm-deploymentstatus" routerLinkActive="active" (click)="$event.stopPropagation()">
                <i class="ri-information-line" style="color: black;"></i>
                Deployment Status</a></li>
                <li><a routerLink="/bdm-rejectedcandiates" routerLinkActive="active" (click)="$event.stopPropagation()">
                  <i class="ri-forbid-line" style="color: black;"></i> Rejected Candidates
                  </a></li>
          <li><a routerLink="/bdm-information" routerLinkActive="active" (click)="$event.stopPropagation()">
            <i class="ri-check-line" style="color: black;"></i> Deployed Candidates
          </a></li>
        </ul>
      </li>
  
      <li>
        <a routerLink="/bdm-attendance" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="ri-calendar-check-line" style="color: black;"></i>Attendance 
        </a>
      </li>

      <li>
        <a routerLink="/bdm-leave-request" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="ri-user-line" style="color: black;"></i>Leave Request
        </a>
      </li>

  
      <li>
        <a routerLink="/bdm-setting" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="ri-settings-3-line" style="color: black;"></i> Settings
        </a>
      </li>
      <li>
        <a (click)="openModal()">
          <i class="fas fa-sign-out-alt me-2" style="color: black;"></i> Logout
        </a>
      </li>
  
      <!-- Custom Modal -->
      <div class="custom-modal" *ngIf="isModalOpen">
        <div class="custom-modal-content">
          <div class="custom-modal-header">
            <!-- <h2 class="modal-title">Logout Confirmation</h2> -->
            <h3 style="color: white;">Logout Confirmation</h3>
          </div>
          <div class="custom-modal-body">
            <h4 class="modal-message">Are you sure want to log out?</h4>
  
          </div>
          <div class="custom-modal-footer">
  
            <button class="btn btn-logout" (click)="confirmLogout()">YES</button>
  
            <button class="btn btn-cancel" (click)="closeModal()">NO</button>
          </div>
        </div>
      </div>
  
    </ul>
  
    <button class="navbar-toggler" type="button" (click)="sidebarSwitcherToggleClass()">
      <span class="burger-menu">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
      </span>
    </button>
  </div>
  
  
  <!-- Route Content -->
  <router-outlet></router-outlet>
