<!-- Footer -->
<footer class="footer-area bg-color-05122d pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo">
                        <img src="assets/images/w3-logo.png" alt="Image">
                    </a>
                    <p>W3Softech is the best Software Testing Company in India and QA company in Hyderabad specializing
                        in Functional, Automation, non-functional testing services. We provides end-to-end QA Consulting
                        services and Software Testing Services driven by robust governance model providing visibility
                        and control to the client.</p>
                    <ul class="social-link">
                        <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-linkedin-box-fill"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget pl-4">
                    <h3>Testing Services</h3>
                    <ul class="import-link">
                        <li><a routerLink="/courses">Manual Testing
                                </a></li>
                        <li><a routerLink="/courses"> Automation Testing
                            </a></li>
                        <li><a routerLink="/courses"> Performance Testing
                            </a></li>
                        <li><a routerLink="/courses"> Mobile Testing
                            </a></li>
                        <li><a routerLink="/courses"> Agile Transformation
                            </a></li>
                        <li><a routerLink="/courses"> Cloud Testing
                            </a></li>
                        <li><a routerLink="/courses"> Process Consulting
                            </a></li>
                            <li><a routerLink="/courses"> Big Data Testing
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget pl-4">
                    <h3>Company</h3>
                    <ul class="import-link">
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/courses">Courses</a></li>
                        <li><a routerLink="/instructors">Instructor</a></li>
                        <li><a routerLink="/events">Events</a></li>
                        <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>
                    <ul class="address">
                        <li class="location">
                            <i class="ri-map-pin-line"></i>
                            Suite no : 7C, 7th Floor,
                            Vaishnavi's Cynosure Tech Park,
                            Opp: Urdu University, Gachibowli, Serilingampally, Hyderabad-500032.
                        </li>
                        <li>
                            <i class="ri-phone-fill"></i>
                            <a>+91-40-29802628/29</a>
                        </li>
                        <li>
                            <i class="ri-mail-fill"></i>
                        </li>
                        <li>
                            <i class="ri-mail-fill"></i>
                        </li>
                        <li class="location">
                            <i class="ri-time-line"></i>
                            (8 AM - 7 PM, Monday - Friday)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copy-right-area bg-color-05122d">
    <div class="container">
        <div class="copy-right-wrap">
            <p>© Edon is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
        </div>
    </div>
</div>