
@import "../../admin-dashboard/admin-dashboard/admin-dashboard.component.scss";

.popup {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 1000;
  } 
  .popup-content {
	background: white;
	padding: 30px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	animation: fadeIn 0.3s ease;
  }
  
  .popup-content img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
  }
  
  .popup-content h2 {
	margin: 10px 0;
	font-size: 24px;
	color: #1bbf72;
  }
  
  .popup-content p {
	margin: 10px 0;
	font-size: 18px;
	color: #1bbf72;
  }
  
  .popup-content button {
	margin-top: 20px;
	padding: 10px 20px;
	background: #1bbf72;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
  }
  
  .popup-content button:hover {
	background: #1bbf72;
	border-radius: 4px;
  }
  .icon {
    font-size: 50px;
    color: #1bbf72;
    margin-right: 10px;
}
.icon1 {
    font-size: 50px;
    color:red;
    margin-right: 10px;
}


.col-lg-6, .col-md-6 {
	.form-group {
	  button.default-btn {
		background-color: #1bbf72; 
		color: #fff; 
		padding: 10px 50px; 
		margin-top: 140px;
		
		border: none;
		cursor: pointer; 
		transition: background-color 0.3s ease;   
		&:hover {
		  background-color: #155b16; 

		}
  
		&:focus {
		  outline: none;
		  box-shadow: 0 0 0 2px rgba(103, 206, 122, 0.5); 
		}
  
		&:disabled {
		  background-color: #cccccc; 
		  
		  cursor: not-allowed; 
    	}
		
	  }
	}
	  }
   .default-btn:disabled{
 	background-color: #cccccc; 
         color: #666666; 
         cursor: not-allowed;
 }
 table{
	width: 800px;
 }
.table-sm td,
.table-sm th {
  padding: 0.5rem; /* Compact padding */
  font-size: 0.875rem; /* Smaller text for compact view */
  
}

.table-bordered {
  border: 1px solid #dee2e6; /* Subtle border */
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6; /* Consistent cell borders */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9; /* Subtle striping for better readability */
}

.table-hover tbody tr:hover {
  background-color: #e9ecef; /* Highlight row on hover */
}
.table-bordered th {
    background-color: #1bbf72; 
  }
.img-thumbnail {
  border: none; /* Remove border from thumbnail images */
}
.shadow-box {
    background: #fff; /* White background */
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Page shadow */
    border-radius: 8px;
    margin: 20px auto; /* Center the container */
	height: auto;
    max-height: 540px;
}
.scrollable-table {
    max-height: 300px; /* Adjust this value based on your layout */
    overflow-y: auto;  /* Enable vertical scrolling */

	border:1px solid rgba(17, 17, 17, 0.333);
    max-height: 460px;

  }
  
  .scrollable-table table {
    width: 100%; /* Ensure the table takes full width of the container */
  }
.title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
	display: inline-block; /* Ensures underline is only as wide as the text */
	
	
  }
  
  .title::before {
	content: "";
	position: absolute;
	left: -6px;
	bottom: 0;
	height: 3px;
	width: 136px;
	border-radius: 5px;
	background: linear-gradient(135deg, #68ee0f, #89e018);
  }
  