<app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
    <div class="container-fluid shadow-box">
        
        <h2  style="text-align: center;font-size: x-large;">{{team.teamName}}</h2>
            <div  style="margin-left: 100px;" class="box">
                <div class="d-flex align-items-center mb-3">

                    <!-- <h4>Course Name :</h4><span style="font-size: large;">{{team.course[0].courseName}}</span> -->
                    <h6>Course Name : {{team.course[0].courseName}}</h6>
                </div>
                
                 <div class="table-responsive">
                    <div class="scrollable-table">

                        <table class="table table-bordered table-striped table-sm">
                            <thead >
                                <tr>
                                <th class="text-center" scope="col">ID</th>
                                <th class="text-center" scope="col">Name</th>
                                <th class="text-center" scope="col">Email</th>
                                
                                <th class="text-center" scope="col">Role</th>
                                <th class="text-center" scope="col">Join Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of employees">
                                <td class="text-center align-middle" >
                                    <img [src]="emp.photoUrl" alt="Image" class="img-thumbnail rounded-circle" style="width: 40px; height: 40px;">
                                    <span class="ml-2">{{ emp.employeeId }}</span>
                                </td>
                                <td class="text-center">{{ emp.firstName }} {{ emp.lastName }}</td>
                                <td class="text-center">{{ emp.employeeEmail }}</td>
                            
                                <td class="text-center">{{ emp.roles[0].roleName }}</td>
                            
                                <td class="text-center">{{ emp.dateOfJoin | date: 'dd/MM/yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                    <div *ngIf="employees.length === 0" class="no-employees">
                        No Employees Available.....!
                    </div>
                </div>
                
        </div>
    </div>

