
<app-user-navbar></app-user-navbar>
<div class="container">
  <h1>User Update Request</h1>
  <div class="form-container">
    <form [formGroup]="supportRequestForm" (ngSubmit)="updateSupportRequest()">
  
      <div class="button-container">
        <button class="button" (click)="gotoAllRequest()">GotoAllRequest</button>
</div>
      <div class="form-group">
        <label for="subject">Subject:</label>{{supportRequest.subject}}
        <!-- <input type="text" id="subject" formControlName="subject" class="form-control" required>
        <div *ngIf="supportRequestForm.get('subject')?.invalid && supportRequestForm.get('subject')?.touched" class="text-danger">
          Subject is required.
        </div> -->
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" class="form-control" required></textarea>
        <div *ngIf="supportRequestForm.get('description')?.invalid && supportRequestForm.get('description')?.touched" class="text-danger">
          Description is required.
        </div>
      </div>

      
      <div class="form-group text-center">
      <button style="justify-items: center;margin-top: 20px;" type="submit" class="button" [disabled]="supportRequestForm.invalid">Update Request</button>
    </div>
    </form>
  </div>
</div>

