<app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
  <div class="container-fluid shadow-box">


    <div class="db-my-profile-content" *ngIf="event">
      <div style="text-align: center;margin-bottom: 20px;">
      <h1 class="title" style=" font-size: larger;"> Event Details</h1>
     </div>
      <div  class="button-container">
          <button style="margin-bottom: 10px;" class="button" (click)="gotoAllEvents()">All Events</button>
  </div>
      <ul>


        <li>
          <span>Subject</span>
          : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.subject}}
        </li>
        <li>
          <span>Description</span>
          : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.description}}
        </li>
        <li>
          <span>DateTime</span>
          : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.dateTime}}
        </li>
        
      </ul>
    </div>
    </div>

