<app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
  <div class="container-fluid">

    <div class="button-container">
        <button class="button" (click)="gotoAllEvents()">Goto All Events</button>
</div>
    <div class="db-my-profile-content" *ngIf="event">
      <h1 style=" font-size: larger;margin-bottom: 20px;margin-left: 70px;"> Event Details</h1>
      <ul>

        <li>
          <span>Ticket Id</span>
          : {{event.eventId}}
        </li>
        <li>
          <span>Subject</span>
          : {{event.subject}}
        </li>
        <li>
          <span>Description</span>
          : {{event.description}}
        </li>
        <li>
          <span>DateTime</span>
          : {{event.dateTime}}
        </li>
        
      </ul>
    </div>
    </div>

