<app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
  <div class="container-fluid">


    <div class="db-my-profile-content" *ngIf="event">
      <h1 style=" font-size: larger;margin-bottom: 20px; text-align: center;"> Event Details</h1>
      <div  class="button-container">
          <button style="margin-bottom: 10px;" class="button" (click)="gotoAllEvents()">All Events</button>
  </div>
      <ul>


        <li>
          <span>Subject</span>
          : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.subject}}
        </li>
        <li>
          <span>Description</span>
          : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.description}}
        </li>
        <li>
          <span>DateTime</span>
          : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.dateTime}}
        </li>
        
      </ul>
    </div>
    </div>

