<!-- <app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">

        <div class="db-my-profile-content">
            <ul>
                <li>
                    <span>Employee Id</span>
                    : {{employeeId}}
                </li>
                <li>
                    <span>First Name</span>
                    : {{employee.firstName}}
                </li>
                <li>
                    <span>Last Name</span>
                    :{{employee.lastName}}
                </li>
                <li>
                    <span>Address</span>
                    : {{employee.address}}
                </li>
                <li>
                    <span>webMail</span>
                    : {{employee.webMail}}
                </li>

                <li>
                    <span>Email</span>
                    : {{employee.employeeEmail}}
                </li>

                <li>
                    <span>Phone Number</span>
                    <a>: {{employee.phoneNumber}}</a>
                </li>

            </ul>
        </div>

    </div>
</div> -->
<app-admin-navbar></app-admin-navbar>
<div class="db-main-content-area">
    <div class="container-fluid">

    
        <div class="db-my-profile-content shadowed-form">
            <div class ="textcenter">
            <h3 style="font-size:larger ; margin-bottom: 30px;">Employee Details</h3>
            </div>
            <ul>
                <li>
                    <span>Employee Id</span>
                    <span>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{employeeId}}</span>
                </li>
                <li>
                    <span>First Name</span>
                    <span>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{employee.firstName}}</span>
                </li>
                <li>
                    <span>Last Name</span>
                    <span>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{employee.lastName}}</span>
                </li>
                <li>
                    <span>Address</span>
                    <span>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{employee.address}}</span>
                </li>
                <li>
                    <span>WebMail</span>
                    <span>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee.webMail}}</span>
                </li>
                <li>
                    <span>Email</span>
                    <span>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{employee.employeeEmail}}</span>
                </li>
                <li>
                    <span>Phone Number</span>
                    <span><a>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee.phoneNumber}}</a></span>
                </li>
            </ul>
        </div>

    </div>
</div>
