
.db-main-content-area {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Center vertically within the viewport */
  
}

.container-fluid {
  width: 75%; /* Ensure it takes the full width of the parent */
  margin-left: 300px;
  
}

.db-my-profile-content {
  background-color: #f8f9fa;
  padding: 200px;
  margin-left: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto; /* Center within the container */
}

ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
}

li {
  display: flex; /* Use flexbox to align items */
  justify-content: space-between; /* Space between label and value */
  margin-bottom: 10px; /* Add some spacing between list items */
}

li span {
  font-weight: bold; /* Make the labels bold */
  flex: 1; /* Allow labels to take up more space */
}

li a,
li span + span {
  flex: 2; /* Allow values to take up more space */
  text-align: left; /* Align text to the left */
}
.shadowed-form {
  background-color: #fbfdfc;
  padding: 73px;
  padding-left: 130px;
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  max-width: 600px;
  margin: auto;
  
}
.textcenter{
 padding-left: 80px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  display: inline-block; /* Ensures underline is only as wide as the text */
  
  
}

.title::before {
  content: "";
  position: absolute;
  left: -6px;
  bottom: 0;
  height: 3px;
  width: 162px;
  border-radius: 5px;
  background: linear-gradient(135deg, #68ee0f, #89e018);
}
