<app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">
        

        <div class="db-my-profile-content">
            <ul>
                <li>
                    <span>Employee Id</span>
                    : {{employeeId}}
                </li>
                <li>
                    <span>First Name</span>
                    : {{employee.firstName}}
                </li>
                <li>
                    <span>Last Name</span>
                    :{{employee.lastName}}
                </li>
                <li>
                    <span>Address</span>
                    : {{employee.address}}
                </li>
                <li>
                    <span>webMail</span>
                    : {{employee.webMail}}
                </li>

                <li>
                    <span>Email</span>
                    : {{employee.employeeEmail}}
                </li>

                <li>
                    <span>Phone Number</span>
                    <a>: {{employee.phoneNumber}}</a>
                </li>

            </ul>
        </div>

    </div>
</div>