
<app-rms-navbar></app-rms-navbar>
<div class="employee-interview-details-container">
  <div *ngIf="isLoading" class="loading-spinner">Loading...</div>

  <div *ngIf="showError" class="error-message">Error loading interview details.</div>

  <div class="interview-details-table">
    <table *ngIf="!isLoading && !showError && interviewDetails.length > 0">
      <thead>
        <tr>
          <th>EmployeeId</th>
          <th>Email</th>
          <th>FromDate</th>
          <th>ToDate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of interviewDetails">
          <td>{{ detail.employeeName }}</td>
          <td>{{ detail.employeeEmail }}</td>
          <td>{{ detail.reference }}</td>
          <td>{{ detail.interviewStatus }}</td>
          <td>
            <button class="update-btn" (click)="openUpdateStatusPopup(detail.interviewId)">Update</button>
          </td>          
        </tr>
      </tbody>
    </table>

    <div *ngIf="!isLoading && interviewDetails.length === 0" class="no-content">No interview details found.</div>
  </div>
</div>

<div *ngIf="showPopup" class="popup-overlay" (click)="showPopup = false">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <h3>Update Status</h3>
    <div class="action-buttons">
      <button class="select1-btn" (click)="confirmUpdate('Send Confirmation Mail')">PaySlip</button>
      <button class="confirm1-btn" (click)="confirmUpdate('Reject')">Reject</button>
    </div>
  </div>
</div>

<div *ngIf="showConfirmation" class="confirmation-dialog">
  <div class="confirmation-content">
    <p>Are you sure you want to {{ selectedAction }} for this interview?</p>

    <textarea 
      class="confirmation-textarea" 
      [(ngModel)]="comment" 
      placeholder="Add your comments here..." 
      rows="4" 
      cols="30">
    </textarea>

    <div class="action-buttons">
      <button (click)="updateStatus()">Yes</button>
      <button (click)="closeConfirmation()">No</button>
    </div>
  </div>
</div>


<div *ngIf="showSuccessPopup" class="success-popup" (click)="closeSuccessPopup($event)">
  <div class="backdrop" (click)="closeSuccessPopup($event)"></div>
  <div class="success-content" (click)="$event.stopPropagation()">
    <h6>{{ getSuccessMessage() }}</h6>
  </div>
</div>


