<app-admin-navbar></app-admin-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">
          <div class="users-instructors">
            
            <div class="button-container">
                <button  style="border-radius: 5px;" class="button" routerLink="/admin-employees">All Employees</button>
                <button style="border-radius: 5px;" class="button" (click)="gotoTeamLead()">TeamLeads</button>
                <button style="border-radius: 5px;" class="button" (click)="gotoDeveloper()">Developers</button>
                <button  style="border-radius: 5px;"  [ngClass]="{'active': isActive('/tester-employees')}" class="button" routerLink="/tester-employees">Testers</button>
              </div>
              <div class="box">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead class="thead-light">
                              <tr>
                                  <th scope="col" class="text-center">EmployeeId</th>
                                  <th scope="col" class="text-center">EmpoloyeeName</th>
                                  <th scope="col" class="text-center">EmployeeEmail</th>
                                  <th scope="col" class="text-center">Role</th>
                                  <th scope="col" class="text-center">DateOfJoin</th>                               
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let emp of employees">
                                  <td class="text-center">
                                      <div class="d-flex align-items-center">
                                        <button  type="button" (click)="switcherToggleClass()">
                                            <img [src]="emp.photoUrl" alt="Image">
                                        </button>
                                          <!-- <img src="assets/images/user/user1.jpg" alt="Image"> -->
                                          <span>{{emp.employeeId}}</span>
                                      </div>
                                  </td>
                                  <td class="text-center">{{emp.firstName}} {{emp.lastName}}</td>
                                  <td class="text-center">{{emp.employeeEmail}}</td>
                                  <td class="text-center">{{emp.roles[0].roleName}}</td>
                                  <td class="text-center">{{emp.dateOfJoin}}</td>
                                 
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
    </div>
    </div>
    


